<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>开标大厅--唱标</title>
  <link rel="stylesheet" type="text/css" href="../css/bidList.css">
</head>
<body>
  <div class="bidContainer">
    <div class="bidTitle">
       <img src="../image/bidTitle.png">
       <P>唱标</P>
    </div>
    <div class="bidContent">
       <div class="packetList">
         <div class="packetListTitle">
           招标大厅
         </div>
         <div class="bidList">
           <ul>
             <li class="list1 ptHasBid">
               <div class="listTitlePacket">安全帽</div>
               <div class="listTpLeft">20</div>
               <div class="listTpCenter"></div>
               <div class="listTpRight">20</div>
               <div class="ptHasBidShow">已唱标</div>
             </li>
             <li class="list1 ptHasFull">
               <div class="listTitlePacket">安全帽</div>
               <div class="listTpLeft">20</div>
               <div class="listTpCenter"></div>
               <div class="listTpRight">20</div>
             </li>
             <li class="list1 ptNoFull">
               <div class="listTitlePacket">安全帽</div>
               <div class="listTpLeft">10</div>
               <div class="listTpCenter"></div>
               <div class="listTpRight">20</div>
             </li>
             <li class="list1 ptNoData">
               <div class="listTitlePacket">安全帽</div>
               <div class="listTpLeft">0</div>
               <div class="listTpCenter"></div>
               <div class="listTpRight">20</div>
             </li>
           </ul>
         </div>
       </div>
       <div class="bidOpening">
          <div class="bidOpeningTitle">
            开标记录汇总表
          </div>
          <div class="bidOpeningContent">
            <table>
              <thead>
                 <tr>
                   <td width="300">包件名</td>
                   <td width="200">包件编号</td>
                   <td>供应商</td>
                   <td>制造商</td>
                   <td width="200">金额</td>
                 </tr>
              </thead>
              <tbody>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
                 <tr>
                   <td>安全帽</td>
                   <td>2018123456789</td>
                   <td>中国中铁工程有限公司</td>
                   <td>中国中铁工程有限公司</td>
                   <td>1000.000.00</td>
                 </tr>
              </tbody>
            </table>
          </div>
       </div>
    </div>
    <div class="bidFooter">
      开标大厅
    </div>
  </div>
</body>
</html>