<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>采购项目汇总表</title>
  <link rel="stylesheet" type="text/css" href="../css/purchase.css">
</head>
<body>
   <div class="purchaseContainter">
      <div class="purchaseContent">
        <div class="purchaseTitle">
          采购项目汇总表
        </div>
        <div class="purchaseTable">
          <table>
            <thead>
            <tr>
              <td>采购名称</td>
              <td width="250">采购编码</td>
              <td>招标单位</td>
              <td width="200">开标时间</td>
              <td width="200">项目类型</td>
              <td width="150">包件数量</td>
              <td width="150">是否开标</td>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购</td>
                <td>GHJ2JC【2017】-032</td>
                <td>中国中铁工程有限公司</td>
                <td>2018-08-08 24:59:59</td>
                <td>材料</td>
                <td>1000</td>
                <td>正在开标</td>
              </tr>
              <tr>
                <td>中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购</td>
                <td>GHJ2JC【2017】-032</td>
                <td>中国中铁工程有限公司</td>
                <td>2018-08-08 24:59:59</td>
                <td>材料</td>
                <td>1000</td>
                <td>未开标</td>
              </tr>
              <tr>
                <td>中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购</td>
                <td>GHJ2JC【2017】-032</td>
                <td>中国中铁工程有限公司</td>
                <td>2018-08-08 24:59:59</td>
                <td>材料</td>
                <td>1000</td>
                <td>正在开标</td>
              </tr>
              <tr>
                <td>中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购</td>
                <td>GHJ2JC【2017】-032</td>
                <td>中国中铁工程有限公司</td>
                <td>2018-08-08 24:59:59</td>
                <td>材料</td>
                <td>1000</td>
                <td>正在开标</td>
              </tr>
              <tr>
                <td>中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购</td>
                <td>GHJ2JC【2017】-032</td>
                <td>中国中铁工程有限公司</td>
                <td>2018-08-08 24:59:59</td>
                <td>材料</td>
                <td>1000</td>
                <td>正在开标</td>
              </tr>
              <tr>
                <td>中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购</td>
                <td>GHJ2JC【2017】-032</td>
                <td>中国中铁工程有限公司</td>
                <td>2018-08-08 24:59:59</td>
                <td>材料</td>
                <td>1000</td>
                <td>正在开标</td>
              </tr>
              <tr>
                <td>中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购</td>
                <td>GHJ2JC【2017】-032</td>
                <td>中国中铁工程有限公司</td>
                <td>2018-08-08 24:59:59</td>
                <td>材料</td>
                <td>1000</td>
                <td>正在开标</td>
              </tr>
              <tr>
                <td>中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购</td>
                <td>GHJ2JC【2017】-032</td>
                <td>中国中铁工程有限公司</td>
                <td>2018-08-08 24:59:59</td>
                <td>材料</td>
                <td>1000</td>
                <td>正在开标</td>
              </tr>
              <tr>
                <td>中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购</td>
                <td>GHJ2JC【2017】-032</td>
                <td>中国中铁工程有限公司</td>
                <td>2018-08-08 24:59:59</td>
                <td>材料</td>
                <td>1000</td>
                <td>正在开标</td>
              </tr>
              <tr>
                <td>中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购</td>
                <td>GHJ2JC【2017】-032</td>
                <td>中国中铁工程有限公司</td>
                <td>2018-08-08 24:59:59</td>
                <td>材料</td>
                <td>1000</td>
                <td>正在开标</td>
              </tr>
              <tr>
                <td>中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购</td>
                <td>GHJ2JC【2017】-032</td>
                <td>中国中铁工程有限公司</td>
                <td>2018-08-08 24:59:59</td>
                <td>材料</td>
                <td>1000</td>
                <td>正在开标</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
   </div>
</body>
</html>