.container{
    width: 1200px;
    margin: 30px auto 0;
}
.con_title{
    width: 1200px;
    height: 22px;
    line-height: 22px;
}
.con_title a,.con_title em,.con_title span{
    display: block;
    font-size: 14px;
    float: left;
    margin-left: 7px;
}
.num{
    width: 22px;
    height: 22px;
    background: url("../images/qyzt/home.png") no-repeat 0 0;
    margin-left: 0 !important;
}
.businessScope,.supplyProduct{
    width: 1200px;
    margin-top: 20px;
    float: left;
}
.bs_title p,.sp_title p{
    width: 65px;
    font-size: 16px;
    color: #333333;
    padding-bottom: 10px;
    border-bottom: 2px solid #cc3300;
    float: left;
}
.bs_title span,.sp_title span{
    width: 1135px;
    height: 16px;
    line-height: 16px;
    float: left;
    padding-bottom: 10px;
    border-bottom: 2px solid #cccccc;
    display: block;
    font-size: 12px;
    color: #666666;
}
.bs_content{
    margin-top: 25px;
    float: left;
}
.bs_content p{
    line-height: 20px;
}

.sp_content{
    width: 1200px;
    height: auto;
    overflow: hidden;
}
.select_set{
    overflow: hidden;
    font-size: 12px;
}
.select_set_t{
    float: left;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.select_set_t i{
    display: inline-block;
    background: url("../images/proList/1.png") 0 0 no-repeat;
    width: 5px;
    height: 9px;
    margin-left: 5px;
    margin-right: 3px;
}
.select_set_itemList{
    width: 1139px;
    overflow: hidden;
    margin-top: 15px;
}
.select_set_item{
    float: left;
    margin-right: 10px;
    height: 22px;
    line-height: 24px;
    border: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 22px;
    position: relative;
    cursor: pointer;
}
.select_set_item:hover > i{
    background-position: 0 -30px
}
.select_set_item p{
    color: #3399cc;
    float: left;
}
.select_set_item span{
    color: #cc3300;
    display: block;
    float: left;
}
.select_set_item i{
    width: 25px;
    height: 22px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../images/proList/2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.select_list{
    width: 1200px;
    overflow: hidden;
    border-top: 1px solid #cccccc;
    font-size: 12px;
}
.select_list ul li{
    width: 171px;
    float: left;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #cccccc;
    cursor: pointer;
}
.select_list ul li:hover > p{
    color: #3399cc !important;
}
.select_list ul li:hover > span{
    color: #3399cc !important;
}
.select_list ul li p{
    width: auto;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}
.select_list ul li span{
    display: block;
    float: left;
}

.select_bottom{
    width: 1200px;
    height: 1px;
    background-color: #cccccc;
    overflow: hidden;
    margin-top: -1px;
}

.select_search{
    width: 1200px;
    height: 60px;
    border-bottom: 1px solid #cccccc;
}
.select_search a,.select_search input{
    display: block;
    float: right;
    margin-top: 14px;
    font-size: 16px;
}
.select_search a{
    width: 50px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
}
.select_search a{
    margin-right: 10px;
}
.select_search a:first-child{
    margin-right: 0 !important;
}
.select_search i{
    width: 40px;
    height: 32px;
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 14px;
    cursor: pointer;
    background: url("../images/proList/3.png") 0 0 no-repeat;
}
.select_search input{
    width: 198px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #3399cc;
}
.select_result_p,.select_result_l{
    width: 1200px;
    height: auto;
}
.select_result_p li{
    width: 283px;
    height: 303px;
    border: 1px solid #cccccc;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}
.select_result_p li:first-child,.select_result_p li:nth-child(5){
    margin-left: 0px !important;
}
.select_result_p li:hover{
    border: 1px solid #cc3300;
}
.select_result_p img{
    width: 285px;
    height: 200px;
}

.title,.price,.saleUnit{
    width: 273px;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}
.title{
    font-size: 16px;
    color: #333333;
}
.price p,.saleUnit p{
    font-size: 14px;
    color: #666666;
    float: left;
}
.price span{
    font-size: 20px;
    color: #cc3300;
    display: block;
    float: left;
}

.select_result_l ul li{
    width: 1200px;
    height: 180px;
    border-bottom: 1px solid #cccccc;
}
.select_result_l ul li img{
    margin-top: 20px;
    display: block;
    float: left;
}
.sRight{
    width: 980px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.sRight span{
    width: auto;
    font-size: 18px;
    float: left;
    display: block;
    margin-left: 40px;
    margin-top: 10px;
}
.sRight span:first-child{
    margin-left: 0px !important;
}
.sRight p{
    width: 980px;
    float: left;
    margin-top: 15px;
    font-size: 14px;
    color: #666666;
}


.sr_title{
    color: #333333;
}
.sr_guige{
    color: #666666;
}
.sr_price{
    color: #cc3300;
}



.aClick{
    background-color: #3399cc;
}
.aNoClick{
    background-color: #cccccc;
}
.displayBlock{
    display: block;
}
.displayNone{
    display: none;
}