*{
  margin: 0;
  padding: 0;
}
.dataCenter{
  width: 100%;
  height: auto;
  min-height: 340px;
  background-color: #eeeeee;
  padding-top: 20px;
  padding-bottom: 120px;
}
.dcContent{
  width: 1200px;
  height: auto;
  min-height: 340px;
  margin: 0 auto;
  background-color: #ffffff;
}
.dccTop{
  width: 100%;
  height: 74px;
  line-height: 74px;
  background-color: #bbbbbb;
}
.dccTop > select{
  width: 440px;
  height: 34px;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  margin-left: 20px;
}
.dccSearch{
  width: 100%;
  height: 188px;
}
.dccSearch > div{
  width: auto;
  height: 34px;
  float: left;
  margin-left: 60px;
  margin-top: 40px;
  /*width: 120px;*/
  /*height: 34px;*/
  /*border: 1px solid #bbbbbb;*/
  /*border-radius: 2px;*/
}
.dccSearch > div > p{
  float: left;
  font-size: 14px;
  color: #222222;
  margin-right: 20px;
  line-height: 34px;
}
.dccSearch > div > input,.dccSearch > div > i,.dccSearch > div > a{
  display: block;
  float: left;
}
.dccSearch > div > input{
  width: 100px;
  padding: 0 10px;
  height: 32px;
  line-height: 34px;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
}
.dccSearch > div > i{
  width: 10px;
  height: 1px;
  background-color: #bbbbbb;
  margin-left: 10px;
  margin-top: 16px;
  margin-right: 10px;
}
.dccSearch > div > a{
  text-decoration: none;
  padding:8px 10px;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 2px;
  color: #222222;
}
.search{
  display: block;
  width: 80px;
  height: 34px;
  line-height: 34px;
  background-color: #4ea0ea;
  border-radius: 2px;
  float: left;
  text-decoration: none;
  text-align: center;
  margin-top: -96px;
  margin-left: 106px;
  font-size: 16px;
  color: #FFFFFF;
}

.dcResult{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.dcResult-title{
  font-size: 16px;
  color: #222222;
  margin-left: 60px;
}
.dcResult-content{
  width: 100%;
  height: auto;
}
.dcResult-content > ul{
  width: 1080px;
  height: 108px;
  margin-left: 60px;
  margin-top: 20px;
}
.dcResult-content > ul > li{
  width: 284px;
  height: 86px;
  float: left;
  list-style: none;
  padding: 10px 0 10px 20px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
.dcResult-content > ul > li:hover{
  border-color: #cb2a2d !important;
}
.dcResult-content > ul > li > p{
  float: left;
  font-size: 14px;
  margin-top: 20px;
}
/*公共类*/
.aClick{
  border-color: #cb2a2d !important;
  color: #cb2a2d !important;
}
.dcliClick{
  border-color: #cb2a2d;
  background-color: #cb2a2d;
  color: #ffffff;
}
.dcliNoClick{
  border-color: #eeeeee;
  background-color: #eeeeee;
  color: #777777;
}