.container{
  width: 100%;
  height: auto;
}
.banner{
  width: 100%;
  height: 531px;
}
.banner img {
  width: 100%;
  height: 100%;
}

/*在线展示 start*/
.onlineDisplay{
  width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
  overflow: hidden;
}
.onlineList{
  width: 176px;
  height: 242px;
  margin-left: 62px;
  margin-right: 62px;
  cursor: pointer;
  float: left;
}
.online_img{
  width: 176px;
  height: 176px;
  position: relative;
}
.online_img_back{
  position: absolute;
  width: 176px;
  height: 176px;
  background: url("./img/frame_2_0.png") center no-repeat;
}
.online_img_back:hover{
  transform: rotate(180deg);
}
.online_img_show{
  position: absolute;
  margin: 47px;
  z-index: 99;
}
.online_key_value{
  width: 176px;
  margin-top: 20px;
  text-align: center;
}
.online_value{
  height: 20px;
  color: #777777;
  font-size: 18px;
}
.online_key{
  height: 16px;
  color: #222222;
  font-size: 14px;
  margin-top: 10px;
}
/*在线展示 end*/

/*网校名师 start*/
.onlineTeacher_content{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.content_list_goLeft{
  position: absolute;
  left: -90px;
  top: 146px;
  cursor: pointer;
}
.content_list_goRight{
  position: absolute;
  right: -90px;
  top: 146px;
  cursor: pointer;
}
.content_list_goLeft img {
  width: 60px;
  height: 60px;
}
.onlineTeacher_content_list{
  width: 1200px;
  margin-top: 30px;
  overflow: hidden;
}
.onlineTeacher_content_list ul li{
  width: 283px;
  height: 387px;
  background-color: #fff;
  float: left;
  margin-left: 20px;
  border: 1px solid #dddddd;
  border-bottom: 5px solid #dddddd
}
.onlineTeacher_content_list ul li:hover{
  border-bottom-color: #398fd1;
}
.onlineTeacher_content_list ul li:hover .teacher_img{
  border-color: #398fd1;
}
.onlineTeacher_content_list ul li:first-child{
  margin-left: 0;
}
.onlineTeacher_content_list ul li .teacher_img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: 40px;
  margin-left: 60px;
}
.onlineTeacher_content_list ul li .teacher_img img {
  width: 160px;
  height: 160px;
}
.onlineTeacher_content_list ul li .teacher_name{
  text-align: center;
  font-size: 18px;
  color: #222222;
  margin-top: 20px;
}
.onlineTeacher_content_list ul li .teacher_professional{
  text-align: center;
  font-size: 14px;
  color: #777777;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.onlineTeacher_content_list ul li .transverseLine{
  width: 283px;
  height: 1px;
  background-color: #dddddd;
  margin-top: 30px;
}
.onlineTeacher_content_list ul li .teacher_information{
  font-size: 14px;
  color: #777777;
  text-align: center;
  margin-top: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*网校名师 end*/

/*精品课程 start*/
.excellentCourse,.liveCourse,.onlineTeacher,.informationList{
  margin-top: 60px;
  width: 100%;
  overflow: hidden;
}
.onlineTeacher{
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 40px;
}
.course_title{
  width: 100%;
}
.title_c{
  text-align: center;
  color: #222222;
  font-size: 30px;
  height: 34px;
}
.title_line{
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background-color: #888888;
  position: relative;
}
.title_line_l{
  position: absolute;
  background-color: #888888;
  width: 100px;
  height: 5px;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -2.5px;
}
.title_e{
  margin-top: 13px;
  text-align: center;
  font-size: 14px;
  color: #222222;
}
.moreCoursesCon{
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
.moreCourses{
  position: absolute;
  right: 0;
  top: -20px;
}
.moreCourses a{
  padding: 10px;
  text-decoration: none;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  color: #777777;
  font-size: 14px;
}
.moreCourses a:hover{
  color: #398fd1;
  border-color: #398fd1;
}
.moreCourses span{
  display: inline-block;
  font-size: 14px;
}
.moreCourses img{
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 14px;
}
.course_content{
  width: 1200px;
  margin: 0 auto;
}
.informationList_content{
  width: 1200px;
  margin: 0 auto;
}
.course_content ul li{
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  width: 285px;
  height: 230px;
  cursor: pointer;
}
.course_content ul li:hover .course_con_title{
  color: #398fd1;
}
.course_con_img,.course_con_img img{
  width: 285px;
  height: 160px;
}
.course_con_title{
  width: 285px;
  height: 16px;
  font-size: 16px;
  color: #222222;
  margin-top: 14px;
}
.course_con_show{
  width: 285px;
  height: 20px;
  line-height: 20px;
  margin-top: 20px;
  font-size: 14px;
}
.con_student,.con_visitors{
  float: left;
  color: #777777;
}
.con_visitors{
  margin-left: 20px;
}
.con_price{
  height: 20px;
  line-height: 20px;
  float: right;
  color: #fff;
  background-color: #f44848;
  padding: 0px 5px;
}
/*精品课程 end*/
/*资讯列表 start*/
.informationList_left,.informationList_right{
  width: 600px;
  float: left;
}
.list_title{
  margin-top: 30px;
  width: 180px;
  height: 33px;
  line-height: 33px;
  margin-left: 210px;
  background: url("img/moreInforNo.png") 100% 100% no-repeat;
  cursor: pointer;
}
.list_title p{
  width: 100px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  display: inline-block;
  float: left;
}
.list_title a{
  float: left;
  width: 80px;
  text-align: center;
  color: #777777;
  text-decoration: none;
  vertical-align:top;
}
.list_title a > span{
  margin-left: 8px;
  font-size: 12px;
  vertical-align:top;
}
.list_title a > img{
  width: 15px;
  height: 12px;
  vertical-align:top;
  margin-top: 10px;
}
.informationList_left_title:hover,.informationList_right_title:hover{
  background-image: url("./img/moreInforYes.png");
}
.informationList_left_title:hover span,.informationList_right_title:hover span{
  color: #fff;
}

.informationList_left_content,.informationList_right_content{
  width: 600px;
  float: left;
  margin-top: 20px;
}
.informationList_left_content ul li{
  float: left;
  width: 600px;
  height: 130px;
  margin-top: 20px;
}
.left_content_img,.left_content_img img{
  width: 285px;
  height: 130px;
  float: left;
}
.left_content_title{
  width: 295px;
  font-size: 16px;
  height: 16px;
  color: #222222;
  margin-left: 305px;
}
.left_content_con{
  width: 295px;
  height: 34px;
  margin-top: 20px;
  margin-left: 305px;
  font-size: 14px;
  color: #777777;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left_content_other{
  width: 295px;
  margin-top: 40px;
  height: 18px;
  margin-left: 305px;
  font-size: 14px;
  color: #777777;
}
.friends,.comments,.history{
  float: left;
  height: 18px;
  line-height: 18px;
}
.friends img,.comments img,.history img{
  width: 20px;
  height: 18px;
}
.friends span,.comments span,.history span{
  height: 18px;
  line-height: 18px;
}
.comments,.history{
  margin-left: 20px;
}

.informationList_right_content ul li{
  width: 550px;
  height: 70px;
  margin-left: 50px;
  margin-top: 20px;
}
.right_content_img,.right_content_img{
  width: 70px;
  height: 70px;
  float: left;
}
.informationList_right_content .right_content_title{
  width: 460px;
  height: 16px;
  overflow: hidden;
  float: left;
  margin-left: 20px;
  font-size: 16px;
  color: #222222;
}
.informationList_right_content .right_content_content{
  width: 460px;
  height: 40px;
  overflow: hidden;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 14px;
  color: #777777;
}
/*资讯列表 end*/
.ml0{
  margin-left: 0 !important;
}
.ml20{
  margin-left: 20px;
}
