*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.receivable{
  width: 100%;
  height: auto;
  min-height: 340px;
  background-color: #eeeeee;
  padding-top: 20px;
  padding-bottom: 120px;
}
.raContent{
  width: 1200px;
  height: auto;
  min-height: 340px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-bottom: 60px;
}
.raTop{
  width: 100%;
  height: 74px;
  line-height: 74px;
  background-color: #bbbbbb;
}
.raTop > select{
  width: 440px;
  height: 34px;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  margin-left: 20px;
}
.ChoiceIsReceivables{
  width: 100%;
  border-bottom: 2px solid #bf0000;
  overflow: hidden;
}
.ChoiceIsReceivables a{
  display: block;
  width: 72px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  float: left;
  font-size: 16px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-bottom: none;
}
.raSearch{
  width: 1080px;
  margin: 40px 60px 20px 60px;
}
.con1{
  overflow: hidden;
  float: left;
}
.con2{
  overflow: hidden;
  float: left;
  font-size: 0;
}
.con2 > span{
  text-align: right;
  font-size: 14px;
  color: #222222;
  display: inline-block;
  float: left;
  height: 34px;
  line-height: 34px;
}
.con2 > input{
  float: left;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  height: 32px;
  line-height: 34px;
  padding: 0 10px;
}
.con2 > i{
  width: 10px;
  height: 1px;
  background-color: #bbbbbb;
  margin-left: 10px;
  margin-top: 16px;
  margin-right: 10px;
  display: block;
  float: left;
}
.conA a{
  display: block;
  width: 80px;
  height: 34px;
  line-height: 34px;
  border-radius: 2px;
  float: left;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.reSearch{
  overflow: hidden;
}
.reSearchA{
  background-color: #4ea0ea;
  color: #FFFFFF;
}
.reResertA{
  background-color: #bf0000;
  color: #FFFFFF;
}
.reSearchResult{
  overflow: hidden;
}
/*查看详情 start*/
.detailsPage{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(34,34,34,0.8);
  z-index: 999;
  left: 0;
  top: 0;
}
.detailsPageCon{
  width: 740px;
  height: auto;
  background-color: #fff;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%)
}
.dpcTitle{
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #eeeeee;
}
.dpcTitle p{
  float: left;
  margin-left: 20px;
  font-size: 14px;
  color: #222222;
}
.dpcTitle a{
  float: right;
  margin-right: 10px;
  height: 35px;
  cursor: pointer;
}
table.dpcTable{
  width: 700px;
  margin: 20px;
}
.closeDpc{
  width: 100%;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
.closeDpc a{
  width: 70px;
  display: block;
  color: white;
  background-color: #77afea;
  font-size: 16px;
  border: none;
  text-align: center;
  border-radius: 4px;
  margin-left: 315px;
}
/*查看详情 end*/
/*table样式*/
table{
  width: 1080px;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
}
thead{
  width: auto;
  font-size: 14px;
  text-align: center;
  background-color: #777777;
}
thead tr,thead th{
  border: 1px solid #dddddd;
  border-left: none !important;
  color: #ffffff;
  height: 50px;
  font-size: 14px;
}
thead tr img,tbody td img{
  width: 14px;
  height: 14px;
  cursor: pointer;
}

tbody{
  width: auto;
  min-width: 1070px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}
tbody tr,tbody td{
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  height: 67px;
  color: #464646;
  padding-left: 3px;
  padding-right: 3px;
}
tbody td{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
tbody tr{
  border-top: 1px dotted #dddddd !important;
}
tbody tr:hover{
  background-color: #f1f1f1;
}
tbody tr a{
  color: #398fd1;
  text-decoration: none;
}
tbody tr a:hover{
  color: #ff0000;
}

/*跳转 start*/
.table_button{
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.table_button a{
  display: block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.tableButton{
  width: 364px;
  float: right;
  margin-top: 20px;
}
.goFirst,.goLast,.prePage,.nextPage{
  border: 1px solid #bbbbbb;
  background-color: #fafafa;
  color: #777777;
  border-radius: 2px;
  float: left;
}
.goFirst,.goLast{
  width: 44px;
}
.prePage,.nextPage{
  width: 56px;
}
.prePage{
  margin-left: 5px;
}
.nextPage{
  margin-right: 5px;
}
.currentPage{
  width: 45px;
  float: left;
  color: #5da5dd;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.pages{
  width: 44px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #5da5dd;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 2px;
  float: left;
  color: #5da5dd;
}
.goPage{
  width: 44px;
  height: 30px;
  line-height: 30px;
  color: white;
  border-radius: 2px;
  font-size: 14px;
  background-color: #5da5dd;
  float: left;
}
.goPage:hover{
  background-color: #4986c6;
}
/*跳转 end*/
/*公共类 start*/
.aClick{
  color: #ffffff;
  background-color: #bf0000;
}
.aNoClick{
  border-color: #bf0000 !important;
  color: #222222;
  background-color: #fff;
}
.displayNone{
  display: none;
}
.displayBlock{
  display: block;
}
.divWidth500{
  width: 500px;
}
.divwidth336{
  width: 336px;
}
.divwidth330{
  width: 330px;
}
.spanWidth80{
  width: 80px;
}
.inputWidth234{
  width: 234px;
}
.inputWidth228{
  width: 228px;
}
.inputWidth88{
  width: 88px;
}
.mTop20{
  margin-top: 20px;
}
.mLeft30{
  margin-left: 30px;
}
.mLeft80{
  margin-left: 80px;
}

/*公共类 end*/