<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/sy.css">
</head>
<body>
    <div class="content">
        <div class="contacts">
           <div class="ct_title">
               <p>联系方式</p>
               <span></span>
           </div>
           <div class="ct_content">
              <ul>
                  <li>
                      <p>联系人：</p><span class="ct_person">张经理</span>
                  </li>
                  <li>
                      <p>电话：</p><span>请<a href="javascript:;">登录</a>查看</span>
                  </li>
                  <li>
                      <p>手机：</p><span>请<a href="javascript:;">登录</a>查看</span>
                  </li>
                  <li>
                      <p>传真：</p><span>请<a href="javascript:;">登录</a>查看</span>
                  </li>
                  <li>
                      <p>地址：</p><span>中国 江苏 徐州市 城东大道6号</span>
                  </li>
                  <li>
                      <p>邮编：</p><span>201812</span>
                  </li>
                  <li>
                      <p>主页：</p><a href="javascript:;" class="homePage">http://zhongshiyou.com</a>
                  </li>
              </ul>
           </div>
       </div>
        <div class="enterIntro">
            <div class="ei_title">
                <p>企业介绍</p>
                <a href="javascript:;">更多>></a>
            </div>
            <div class="ei_content">
                <p>徽海螺集团有限责任公司以其所属的宁国水泥厂和白马山水泥厂与水泥生产经营的相关资产出资，独家发起成立安徽海螺水泥股份有限公司，主要从事水泥及商品熟料的生产和销售。公司产销量已连续11年位居全国第一，是目前亚洲最大的水泥、熟料供应商。公司拥有两支股票：1997年10月21日，海螺水泥H股（0914）在香港联合交易所正式挂牌交易，成为中国水泥行业首家在境外上市的水泥企业；2002年2月7日，海螺水泥 A 股在上海证券交易所成功上市。</p>
                <p>公司拥有两支股票：1997年10月21日，海螺水泥H股在香港联合交易所正式挂牌交易，成为我国水泥行业首家在境外上市的水泥企业;2002年2月7日，海螺水泥A股在上海证券交易所成功上市。 截止2006年底，在华东、华南九个省、市、自治区，公司先后建成投产熟料工厂17家，水泥...</p>
            </div>
        </div>
        <div class="corStyle">
            <div class="cs_title">
                <p>企业风采</p>
                <a href="javascript:;">更多>></a>
            </div>
            <div class="cs_content">
                <ul>
                    <li>
                        <img src="../images/sy/1.png">
                        <span>余热发电设备生产制造基地</span>
                    </li>
                    <li>
                        <img src="../images/sy/1.png">
                        <span>余热发电设备生产制造基地</span>
                    </li>
                    <li>
                        <img src="../images/sy/1.png">
                        <span>余热发电设备生产制造基地</span>
                    </li>
                    <li>
                        <img src="../images/sy/1.png">
                        <span>余热发电设备生产制造基地</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="productDisplay">
            <div class="pd_title">
                <p>产品展示</p>
                <a href="javascript:;">更多>></a>
            </div>
            <div class="pd_content">
                <ul>
                    <li>
                        <img src="../images/sy/2.png">
                        <span>水泥机器</span>
                    </li>
                    <li>
                        <img src="../images/sy/2.png">
                        <span>水泥机器</span>
                    </li>
                    <li>
                        <img src="../images/sy/2.png">
                        <span>水泥机器</span>
                    </li>
                    <li>
                        <img src="../images/sy/2.png">
                        <span>水泥机器</span>
                    </li>
                    <li>
                        <img src="../images/sy/2.png">
                        <span>水泥机器</span>
                    </li>
                    <li>
                        <img src="../images/sy/2.png">
                        <span>水泥机器</span>
                    </li>
                    <li>
                        <img src="../images/sy/2.png">
                        <span>水泥机器</span>
                    </li>
                    <li>
                        <img src="../images/sy/2.png">
                        <span>水泥机器</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="businessHistory">
            <div class="bs_title">
                <p>业务履历</p>
                <a href="javascript:;"></a>
            </div>
            <div class="bs_content"></div>
        </div>
        <div class="releQuail">
            <div class="rq_title">
                <p>相关资质</p>
                <a href="javascript:;"></a>
            </div>
            <div class="rq_content"></div>
        </div>
    </div>
</body>
</html>