<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业务履历</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/ywll.css">
</head>
<body>
    <div class="container">
        <div class="con_title">
            <a href="javascript:;" class="num"></a>
            <span>当前位置：</span>
            <a href="javascript:;">企业展厅</a>
            <em>></em>
            <a href="javascript:;">业务履历</a>
        </div>
        <div class="title">
            <p class="tl">相关资质</p>
            <p class="tr"></p>
            <ul>
                <li class="liClick">招标采购（16个）</li>
                <li>询价采购（16个）</li>
                <li>竞价采购（16个）</li>
                <li>竞争性谈判（16个）</li>
                <li>中标项目（16个）</li>
            </ul>
        </div>
        <table>
            <thead>
               <tr>
                   <th width="110">序号</th>
                   <th>参与项目</th>
                   <th>采购单位</th>
                   <th width="280">参与日期</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                   <td>1</td>
                   <td>中铁八局集团桥梁公司石家庄赞青公司五金材料</td>
                   <td>中铁八局集团桥梁公司</td>
                   <td>2015-07-07</td>
               </tr>
               <tr>
                   <td>2</td>
                   <td>中铁八局集团桥梁公司石家庄赞青公司五金材料</td>
                   <td>中铁八局集团桥梁公司</td>
                   <td>2015-07-07</td>
               </tr>
               <tr>
                   <td>3</td>
                   <td>中铁八局集团桥梁公司石家庄赞青公司五金材料</td>
                   <td>中铁八局集团桥梁公司</td>
                   <td>2015-07-07</td>
               </tr>
               <tr>
                   <td>4</td>
                   <td>中铁八局集团桥梁公司石家庄赞青公司五金材料</td>
                   <td>中铁八局集团桥梁公司</td>
                   <td>2015-07-07</td>
               </tr>
               <tr>
                   <td>5</td>
                   <td>中铁八局集团桥梁公司石家庄赞青公司五金材料</td>
                   <td>中铁八局集团桥梁公司</td>
                   <td>2015-07-07</td>
               </tr>
               <tr>
                   <td>6</td>
                   <td>中铁八局集团桥梁公司石家庄赞青公司五金材料</td>
                   <td>中铁八局集团桥梁公司</td>
                   <td>2015-07-07</td>
               </tr>
               <tr>
                   <td>7</td>
                   <td>中铁八局集团桥梁公司石家庄赞青公司五金材料</td>
                   <td>中铁八局集团桥梁公司</td>
                   <td>2015-07-07</td>
               </tr>
               <tr>
                   <td>8</td>
                   <td>中铁八局集团桥梁公司石家庄赞青公司五金材料</td>
                   <td>中铁八局集团桥梁公司</td>
                   <td>2015-07-07</td>
               </tr>
               <tr>
                   <td>9</td>
                   <td>中铁八局集团桥梁公司石家庄赞青公司五金材料</td>
                   <td>中铁八局集团桥梁公司</td>
                   <td>2015-07-07</td>
               </tr>
               <tr>
                   <td>10</td>
                   <td>中铁八局集团桥梁公司石家庄赞青公司五金材料</td>
                   <td>中铁八局集团桥梁公司</td>
                   <td>2015-07-07</td>
               </tr>
            </tbody>
        </table>
        <div class="list_button">
        </div>
    </div>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/jquery.pagination.js"></script>
</body>
</html>