*{
  padding: 0;
  margin: 0;
}

/*top start*/
head{
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.head-top{
  width: 100%;
  background-color: #bf0000;
}
.topCon{
  width: 1200px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}
.topCon a{
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}
 .head-topCon a:hover{
  color: #ffb305;
 }
.htl{
  float: left;
}
.htr{
   float: right;
 }
.htl a{
  float: left;
  margin-right: 20px;
}
.htr a{
  float: left;
  margin-left: 20px;
}

.head-logo-search{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.logo{
  float: left;
  padding: 20px 0;
}

.searchDiv{
  float: right;
  width: 298px;
  height: 38px;
  border: 1px solid #068de6;
  border-radius: 14px;
  position: relative;
  margin-top: 20px;
  padding-left: 10px;
}
.searchDiv input{
  width: 260px;
  height: 38px;
  border: 0;
  outline: none;
  font-size: 14px;
  color: #222222;
}
.searchDiv img{
  position: absolute;
  right: 10px;
  top: 7px;
}
nav{
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}
.nav ul{
  height: 60px;
  line-height: 60px;
  background-color: #333333;
}
.nav ul li {
  list-style: none;
  float: left;
  padding: 0 40px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}
.notice{
  width: 1200px;
  height: 17px;
  line-height: 17px;
  margin: 22px auto;
  font-size: 14px;
}
.notice img,.notice p,.notice a,.notice span{
  display: block;
  float: left;
}
.notice p{
  color: #0062b2;
  margin-left: 10px;
  font-weight: bold;
}
.notice a{
  color: #222222;
  margin-left: 7px;
  cursor: pointer;
}
.notice span{
  color: #888888;
  margin-left: 20px;
}
/*top end*/

.container{
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  overflow: hidden;
  border-top: 1px solid #dddddd;
}
.content{
  width: 1200px;
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 20px;
}
/*conLeft start*/
.conLeft{
  width: 780px;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}
/*carousel start*/
.carousel{
  width: 780px;
  height: 400px;
  float: left;
}
/*carousel end*/
/*politics start*/
.politics{
  width: 780px;
  height: 460px;
  margin-top: 40px;
  overflow: hidden;
  float: left;
}
.politics p{
  float: left;
  padding-bottom: 20px;
  border-bottom: 2px solid #bf0000;
  font-size: 18px;
  color: #bf0000;
}
/*politics end*/
/*conLeft end*/
/*conRight start*/
.conRight{
  width: 360px;
  height: auto;
  margin: 10px;
  float: left;
}

/*conRight end*/
/*公共类 start*/
.navLiClick{
  background-color: #bf0000;
}
/*公共类 end*/