*{
  padding: 0;
  margin: 0;
}

/*top start*/
head{
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.head-top{
  width: 100%;
  background-color: #bf0000;
}
.topCon{
  width: 1200px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}
.topCon a{
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}
 .head-topCon a:hover{
  color: #ffb305;
 }
.htl{
  float: left;
}
.htr{
   float: right;
 }
.htl a{
  float: left;
  margin-right: 20px;
}
.htr a{
  float: left;
  margin-left: 20px;
}

.head-logo-search{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.logo{
  float: left;
  padding: 20px 0;
}

.searchDiv{
  float: right;
  width: 298px;
  height: 38px;
  border: 1px solid #bbbbbb;
  border-radius: 14px;
  position: relative;
  margin-top: 20px;
  padding-left: 10px;
}
.searchDiv input{
  width: 260px;
  height: 38px;
  border: 0;
  outline: none;
  font-size: 14px;
  color: #222222;
}
.searchDiv img{
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}
nav{
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}
.nav ul{
  height: 60px;
  line-height: 60px;
  background-color: #333333;
}
.nav ul li{
  list-style: none;
  float: left;
  padding: 0 40px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}
.nav ul li:hover{
  background-color: #f44848;
}
.notice{
  width: 1200px;
  height: 17px;
  line-height: 17px;
  margin: 22px auto;
  font-size: 14px;
}
.notice img,.notice p,.notice a,.notice span{
  display: block;
  float: left;
}
.notice p{
  color: #0062b2;
  margin-left: 10px;
  font-weight: bold;
}
.notice a{
  color: #222222;
  margin-left: 7px;
  cursor: pointer;
}
.notice span{
  color: #888888;
  margin-left: 20px;
}
/*top end*/

.container{
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  overflow: hidden;
  border-top: 1px solid #dddddd;
  padding-bottom: 100px;
}
.content{
  width: 1200px;
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 40px;
}
/*conLeft start*/
.conLeft{
  width: 780px;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}
/*carousel start*/
.carousel{
  width: 780px;
  height: 400px;
  float: left;
}
/*carousel end*/
/*politics start*/
.politics{
  width: 780px;
  height: 460px;
  margin-top: 40px;
  overflow: hidden;
  float: left;
}
.titleShow{
  overflow: hidden;
}
.title{
  float: left;
  width: 100px;
  height: 18px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #bf0000;
  font-size: 18px;
  color: #bf0000;
  font-weight: bold;
}
.titleShowUl{
  width: 675px;
  float: left;
  border-bottom: 2px solid #333333;
  margin-left: 5px;
}
.titleShowUl li{
  height: 18px;
  list-style: none;
  float: left;
  padding:0 20px 20px;
  font-size: 18px;

}
.titleShowUl li a{
  text-decoration: none;
}
.titleShowUl li a:hover{
  color: #068de6;
}
.contentShow{
  float: left;
  width: 780px;
  height: auto;
  overflow: hidden;
}
.contentShow ul li{
  float: left;
  margin-top: 30px;
}
.con-img{
  float: left;
  height: 180px;
}
.con-content{
  width: 500px;
  height: 180px;
  float: left;
  overflow: hidden;
  margin-left: 20px;
}
.con-title{
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}
.con-title a{
  color: #222222;
  text-decoration: none;
  cursor: pointer;
}
.con-title a:hover{
  color: #f44848;
}
.author-time{
  font-size: 14px;
  color: #888888;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
}
.con-author,.con-time{
  float: left;
}
.con-time{
  margin-left: 30px;
}
.con-information{
  float: left;
}
.con-information p{
  height: 32px;
  font-size: 14px;
  color: #555555;
  margin: 20px 0;
}
.con-information a{
  display: block;
  font-size: 16px;
  width: 100px;
  height: 38px;
  line-height: 38px;
  color: #ffffff;
  background-color: #068de6;
  text-align: center;
  text-decoration: none;
}
.con-information a:hover{
  background-color: #f44848;
}
/*politics end*/
/*thoughtTheory start*/
.thoughtTheory{
  width: 780px;
  height: 460px;
  margin-top: 40px;
  overflow: hidden;
  float: left;
}
/*thoughtTheory end*/
/*party start*/
.party{
  width: 780px;
  height: 460px;
  margin-top: 40px;
  overflow: hidden;
  float: left;
}
/*party end*/
/*conLeft end*/


/*conRight start*/
.conRight{
  width: 360px;
  height: auto;
  margin: 20px;
  float: left;
}
/*personInfromation  start*/
.personInfromation{
  width: 358px;
  height: 158px;
  border: 1px solid #dddddd;
  background-color: #fafafa;
}
.personLogo{
  float: left;
  width: 120px;
  height: 120px;
  margin: 20px 0 20px 20px;
}
.personInfro{
  float: left;
  margin: 20px 0 0 10px;
}
.personName{
  font-size: 16px;
  color: #bf0000;
  height: 17px;
  margin-top: 10px;
  font-weight: bold;
}
.personNum{
  height: 16px;
  margin-top: 20px;
  font-size: 14px;
}
.personNum li{
  list-style: none;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #888888;
}
.personNum li:first-child{
  padding-left: 0;
  border-left: none;
}
.personNum li p,.personNum li span{
  display: block;
  float: left;
}
.personNum li p{
  color: #888888;
}
.personNum li span{
  color: #068de6;
  margin-left: 5px;
}
.newPost{
  display: block;
  width: 76px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #ffffff;
  background-color: #068de6;
  text-align: center;
  text-decoration: none;
  margin-top: 23px;
}
/*personInfromation end*/
/*postShow start*/
.postShow,.newsShow{
  width: 360px;
  height: 400px;
  float: left;
  margin-top: 40px;
}
.rTitle{
  width: 360px;
  height: 40px;
}
.rTitle ul li{
  width: 120px;
  height: 40px;
  line-height: 40px;
  float: left;
  font-size: 16px;
  list-style: none;
  text-align: center;
}
.pcsNoclick:hover{
  background-color: #f44848;
}
.rTitle ul li a{
  display: block;
  width: 120px;
  text-decoration: none;
  color: #ffffff;
}
.rCon{
  float: left;
}
.rCon ul li{
  float: left;
  padding-top: 20px;
  border-top: 1px solid #dddddd;
  margin-top: 20px;
  list-style: none;
}
.rCon ul li:first-child{
  border-top: none;
  margin-top: 0;
}
.right-img{
  width: 120px;
  height: 86px;
  float: left;
}
.right-content{
  float: left;
  margin-left: 10px;
  width: 225px;
}
.rcon-title{
  font-size: 14px;
  margin-top: 7px;
}
.rcon-title a{
  color: #222222;
  text-decoration: none;
}
.rcon-title a:hover{
  color: #f44848;
}
.rcon-author{
  float: left;
  margin-top: 7px;
  font-size: 12px;
  color: #888888;
}
/*postShow end*/
/*conRight end*/


/*公共类 start*/
.navLiClick{
  background-color: #bf0000;
}
.aNoClik{
  color: #888888;
}
.aClik{
  color: #068de6;
}

/*postShow li样式*/
.psLiClick{
  background-color: #bf0000;
}
.pcsNoclick{
  background-color: #333333;
}


/*公共类 end*/