<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1，minimum-scale=1,maximum-sacle=1，user-scalable=no">
  <style type="text/css">
    .t1{
      width: 500px;
      height: 300px;
      border: 1px solid #00aaee;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
    .t1 div{
      color: #fff;
      text-align: center;
      width: 100px;
    }
    .t2{
      background-color: #00aaee;
    }
    .t3{
      background-color: #23c164;
    }
    .t4{
      background-color: #c0191f;
    }
  </style>
</head>
<body>
   <div class="t1">
     <div class="t2">t2222222</div>
     <!--<div class="t3">t3333333</div>-->
     <div class="t4">t4444444</div>
   </div>
</body>
</html>
