<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>待审核订单列表</title>
  <link rel="stylesheet" href="../common/css/normalize.css">
  <link rel="stylesheet" href="auditedOrderList.css">
</head>
<body>
  <div class="auditedOrderList">
    <div class="aolCon">
      <div class="aolTop">
        <select>
          <option>鲁班（北京）电子商务科技有限公司lubanec@qq.com</option>
        </select>
      </div>
      <div class="aolSearch">
        <div class="con1 divwidth346">
          <div class="con2 mTop20">
            <span class="spanWidth90">付款码：</span>
            <input class="inputWidth234" type="text" v-model="paymentCode">
          </div>
          <div class="con2 mTop20">
            <span class="spanWidth90">发票抬头：</span>
            <input class="inputWidth234" type="text" v-model="invoicesRaised">
          </div>
          <div class="con2 mTop20">
            <span class="spanWidth90">用户账号：</span>
            <input class="inputWidth234" type="text" v-model="userAccount">
          </div>
          <div class="con2 mTop20">
            <span class="spanWidth90">收货人电话：</span>
            <input class="inputWidth234" type="text" v-model="consigneePhone">
          </div>
        </div>
        <div class="con1 divwidth336 mLeft28">
          <div class="con2 mTop20">
            <span class="spanWidth80">订单编号：</span>
            <input class="inputWidth234" type="text" v-model="orderNumber">
          </div>
          <div class="con2 mTop20">
            <span class="spanWidth80">订单状态：</span>
            <select class="selectWidth256" v-model="orderStatuVal">
              <option v-for="(orderSta, index) in orderStatus" :value="orderSta.value">
                {{orderSta.text}}
              </option>
            </select>
          </div>
          <div class="con2 mTop20">
            <span class="spanWidth80">收货人：</span>
            <input class="inputWidth234" type="text" v-model="consignee">
          </div>
          <div class="con2 mTop20">
            <span class="spanWidth80">收票人：</span>
            <input class="inputWidth234" type="text" v-model="ticketCollector">
          </div>
        </div>
        <div class="con1 divwidth340 mLeft28">
          <div class="con2 mTop20">
            <span class="spanWidth90">订单金额：</span>
            <input class="inputWidth88" type="text" v-model="orderAmountS">
            <i></i>
            <input class="inputWidth88" type="text" v-model="orderAmountE">
          </div>
          <div class="con2 mTop20">
            <span class="spanWidth90">下单时间：</span>
            <input class="inputWidth88" type="text" id="prev_date" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'behind_data\')}',alwaysUseStartDate:true});" v-model="orderTimeS" @focus="changeOrderTimeS">
            <i></i>
            <input class="inputWidth88" type="text" id="behind_data" onclick="WdatePicker({maxDate:'%y-%M-%d',minDate:'#F{$dp.$D(\'prev_date\')}',alwaysUseStartDate:true});" v-model="orderTimeE" @focus="changeOrderTimeE">
          </div>
          <div class="con2 mTop20">
            <span class="spanWidth90">付款码金额：</span>
            <input class="inputWidth88" type="text" v-model="payCodeAmountS">
            <i></i>
            <input class="inputWidth88" type="text" v-model="payCodeAmountE">
          </div>
          <div class="con2 mTop20">
            <span class="spanWidth90">收票人电话：</span>
            <input class="inputWidth228" type="text" v-model="ticketCollectorPhone">
          </div>
        </div>
        <div class="con1 conA divWidth500 mLeft90 mTop20">
          <a class="reSearchA" href="javascript:;" @click="olSearch">查&nbsp;&nbsp;询</a>
          <a class="reResertA mLeft28" href="javascript:;" @click="olResert">重&nbsp;&nbsp;置</a>
        </div>
      </div>
      <div class="aolSearchResult">
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../common/js/WdatePicker.js"></script>
  <script type="text/javascript" src="vue.js"></script>
  <script type="text/javascript">
    var orderStatus = [
      {text: '全部',value: '全部'},
      {text: '待收款',value: '待收款'},
      {text: '交易取消',value: '交易取消'},
      {text: '待审核',value: '待审核'},
      {text: '审核不通过',value: '审核不通过'},
      {text: '已收款',value: '已收款'}
    ]
    var data = {
      paymentCode: '', //付款码
      invoicesRaised: '', // 发票抬头
      userAccount: '', // 用户账号
      consigneePhone: '', // 收货人电话
      orderNumber: '', // 订单编号
      orderStatuVal: '全部', // 订单状态
      orderStatus: orderStatus, // 订单状态列表
      consignee: '', // 收货人
      ticketCollector: '', // 收票人
      orderAmountS: '', // 订单金额(开始)
      orderAmountE: '', // 订单金额（结束）
      orderTimeS:'', // 下单时间（开始）
      orderTimeE: '', // 下单时间（结束）
      payCodeAmountS: '', // 付款码金额（开始）
      payCodeAmountE: '', // 付款码金额（结束）
      ticketCollectorPhone: '' // 收票人电话
    }
    var vm = new Vue({
      el: '.auditedOrderList',
      data: data,
      methods: {
        olSearch () {
        },
        olResert () {
          this.tradingTime = ''
          this.nameOther = ''
          this.initialAmount = ''
          this.surplusAmount = ''
          this.remittanceRemark = ''
          this.paymentCode = ''
          this.invoicesRaised = ''
          this.userAccount = ''
          this.consigneePhone = ''
          this.orderNumber = ''
          this.orderStatuVal = '全部'
          this.consignee = ''
          this.ticketCollector = ''
          this.orderAmountS = ''
          this.orderAmountE = ''
          this.orderTimeS = ''
          this.orderTimeE = ''
          this.payCodeAmountS = ''
          this.payCodeAmountE = ''
          this.ticketCollectorPhone = ''
        },
        changeOrderTimeS () {
          this.orderTimeS = document.getElementById('prev_date').value
        },
        changeOrderTimeE () {
          this.orderTimeE = document.getElementById('behind_data').value
        }
      }
    })
  </script>
</body>
</html>