<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>开标大厅（新）</title>
  <meta name="viewport" content="width=device-width, initial-scale=1，minimum-scale=1,maximum-sacle=1，user-scalable=no">
  <link rel="stylesheet" href="../css/kaibiaodatingnew.css">
  <script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="../js/kaibiaodatingnew.js"></script>
</head>
<body>
    <div class="kbdtn">
       <div class="kbdtn-top">
         <div class="kbdtn-tl">
            <div class="kbdtn-tl-goback">
              <a href="javascript:;">
                <img src="../image/kbdtn/goback.png">
              </a>
            </div>
            <div class="kbdtn-tl-number">
              <div class="kbdtn-tl-number-list">
                <p>在线人数</p>
                <p>100</p>
              </div>
              <div class="kbdtn-tl-number-list">
                <p>解密数量</p>
                <p>100</p>
              </div>
              <div class="kbdtn-tl-number-list">
                <p>在线人数</p>
                <p>100</p>
              </div>
            </div>
            <div class="kbdtn-tl-phone">
              <img src="../image/kbdtn/call.png">
              <p>15166668888</p>
            </div>
         </div>
         <div class="kbdtn-tc">
           <div class="kbdtn-tc-t">开标大厅</div>
           <div class="kbdtn-tc-b">
             <div class="kbdtn-tc-bl">
               <img src="../image/kbdtn/kbdtbiao.png">
             </div>
             <div class="kbdtn-tc-br">
               <div class="tbNum">
                 <div class="tbNumL">已投标</div>
                 <div class="tbNumC">
                   <img src="../image/kbdtn/time.png">
                   <img src="../image/kbdtn/time.png">
                 </div>
                 <div class="tbNumr">家次</div>
               </div>
               <div class="tbNum">
                 <div class="tbNumL">已投标</div>
                 <div class="tbNumC">
                   <img src="../image/kbdtn/time.png">
                   <img src="../image/kbdtn/time.png">
                 </div>
                 <div class="tbNumr">家次</div>
               </div>
               <div class="tbNum">
                 <div class="tbNumL">已投标</div>
                 <div class="tbNumC">
                   <img src="../image/kbdtn/time.png">
                   <img src="../image/kbdtn/time.png">
                 </div>
                 <div class="tbNumr">家次</div>
               </div>
             </div>
           </div>
         </div>
         <div class="kbdtn-tr">
           <div class="kbdtn-tr-date">
             <p class="week"></p>
             <p class="time"></p>
           </div>
         </div>
       </div>
       <div class="kbdtn-bottom">
          <ul class="kbdtn-bottom-ul">

          </ul>
       </div>
    </div>
</body>
</html>
