<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1，minimum-scale=1,maximum-sacle=1，user-scalable=no">
  <link rel="stylesheet" href="tabella.css">
  <style>

    .test1 ul li{
      display: table-cell;
      border-bottom: 1px solid #00aaee;
      text-align: center;
    }
  </style>
</head>
<body>
<div id="example" class="tabella-ctr"></div>
<script type="text/javascript" src="jquery-3.1.1.js"></script>
<script type="text/javascript" src="tabella.js"></script>
<script>
  !(function(){

    var myTabella = new Tabella(
      document.getElementById('example'),
      {
        tableHeader: [1,2,3,4,5
//          ['2014-12-14', '2014-12-20']
//          ,['2014-12-21', '2015-1-10']
//          ,['2015-2-1', '2015-3-7']
//          ,['2015-3-8', '2015-3-21']
//          ,['2015-3-22', '2015-4-7']
        ],
        rows : [
          {
//            rowHeader: 'Single bed room',
            rowVal: [['斯蒂芬收到法第三方第三方' , 210, 210, 204, 180],[190 , 210, 210, 204, 180]],
            rowDesc : ['1 persona', '2 persone']
          },
//          {
//            rowHeader: 'Double bed room',
//            rowVal: [[190 , 210, 210, 204, 180]],
//            rowDesc : ['1 persona']
//          },
//          {
//            rowHeader: 'Suite',
//            rowVal: [[190 , 210, 210, 204, 180]],
//            rowDesc : ['1 persona']
//          }

        ]
      });
  })();
</script>
</body>
</html>
