<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>倒计时</title>
  <link rel="stylesheet" type="text/css" href="../css/base.css">
</head>
<body>
   <div class="countDownContainer">
     <div class="countDown">
       <div class="cds">2</div>
       <div class="cds">4</div>
       <div class="cdm"></div>
       <div class="cds">5</div>
       <div class="cds">9</div>
       <div class="cdm"></div>
       <div class="cds">5</div>
       <div class="cds">9</div>
     </div>
   </div>
</body>
</html>