<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>包列表</title>
  <link rel="stylesheet" href="../css/base.css">
</head>
<body>
   <div class="plHeader">
     <div class="plLogo">
       <img src="../image/logo.png">
     </div>
     <div class="plWords">
       <div class="words1">
         中铁港航局集团有限公司南沙港铁路NSGZQ-1标防水材料招标采购
       </div>
       <div class="words2">
         <span class="purchaseNumber">采购编号：</span><span>GHJ2JC【2017】-032</span>
         <span class="purchaseUnit">组织单位：</span><span>中铁港航局集团第二工程有限公司</span>
       </div>
     </div>
     <div class="plJump">
       <img src="../image/jump.png">
     </div>
   </div>
   <div class="packetContainer">
     <div class="packetCon">
       <div class="packetTitle">
         <div class="titlePackge">
           <p>包件名</p>
         </div>
       </div>
       <div class="packetList">
         <ul>
           <li class="list1 ptHasBid">
             <div class="listTitlePacket">安全帽</div>
             <div class="listTpLeft">20</div>
             <div class="listTpCenter"></div>
             <div class="listTpRight">20</div>
             <div class="ptHasBidShow">已唱标</div>
           </li>
           <li class="list1 ptHasFull">
             <div class="listTitlePacket">安全帽</div>
             <div class="listTpLeft">20</div>
             <div class="listTpCenter"></div>
             <div class="listTpRight">20</div>
           </li>
           <li class="list1 ptNoFull">
             <div class="listTitlePacket">安全帽</div>
             <div class="listTpLeft">10</div>
             <div class="listTpCenter"></div>
             <div class="listTpRight">20</div>
           </li>
           <li class="list1 ptNoData">
             <div class="listTitlePacket">安全帽</div>
             <div class="listTpLeft">0</div>
             <div class="listTpCenter"></div>
             <div class="listTpRight">20</div>
           </li>
         </ul>
       </div>
       <div class="listButtonRight">
         <a href="javascript:;" class="listButtonA listButtonGoLeftA"></a>
       </div>
       <div class="packetFooter">
         开标大厅
       </div>
     </div>
   </div>
   <div class="ptShowDetail displayNone">
     <div class="detailShow">
       <div class="dsTitle">
         <p class="dst">包件名称</p>
         <a class="dsClos" href="javascript:;" onclick="dsClose()">
           <img src="../image/dsClose.png">
         </a>
       </div>
       <div class="dsContent">
          <div class="dsCon">
            <table class="dsTable">
              <thead class="dsThead">
                 <tr>
                   <td>供应商名称</td>
                   <td>解密状态</td>
                 </tr>
              </thead>
              <tbody class="dsTbody">
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr class="noDecrypt">
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr class="noDecrypt">
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
                 <tr>
                   <td>中国中铁有限公司</td>
                   <td>已解密</td>
                 </tr>
              </tbody>
            </table>
          </div>
          <div class="dsButton">
              <a href="javascript:;" class="dsSave" onclick="dsSave()">保存</a>
              <a href="javascript:;" class="dsCancel" onclick="dsCancel()">取消</a>
          </div>
       </div>
     </div>
   </div>
   <script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
   <script type="text/javascript" src="../js/packetList.js"></script>
</body>
</html>