<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1，minimum-scale=1,maximum-sacle=1，user-scalable=no">
  <style>
    .test{
      width: 150px;
      height: 170px;
      border: 1px solid #222;
      background: url("../image/countDown.png") 0 0 no-repeat;
    }
    .test:hover{
      transform: rotateX(-180deg);
      transition-duration: 1s;
    }
  </style>
</head>
<body>
   <div class="test"></div>
</body>
</html>