<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>企业风采</title>
  <meta name="viewport" content="width=device-width, initial-scale=1，minimum-scale=1,maximum-sacle=1，user-scalable=no">
  <link rel="stylesheet" href="../css/gysCorporateStyle.css">
</head>
<body>
   <div class="gysCorporateStyle gysMtop50">
     <div class="gyscsTitle gyscsTitle">
       <p>企业风采</p>
     </div>
     <div class="gyscsContent">
       <div class="gyscsContentTop">
         <p class="gyscsctB">图片浏览</p>
         <p class="gyscsctS">共<span class="gyscsctImgNum">3</span>张图片</p>
         <a class="goEnterprisePofile" href="javascript:;">返回企业简介>></a>
       </div>
       <div class="gyscsContentCon">
          <div class="gyscsccTop">
            <img src="../images/gyscs_02.png">
            <p>图片名称</p>
          </div>
          <div class="gyscsccBottom">
dsaaaaaaaaaa
          </div>
       </div>
     </div>
   </div>
</body>
</html>