<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>供应商--企业档案</title>
  <meta name="viewport" content="width=device-width, initial-scale=1，minimum-scale=1,maximum-sacle=1，user-scalable=no">
  <link rel="stylesheet" href="../css/gysEnterRrc.css">
</head>
<body>
   <div class="gysEnterRrc">
     <!--企业档案 start-->
     <div class="gysenterarc gysMtop50">
       <div class="gysenterarcTitle gysChildTitle">
         <p>企业档案</p>
       </div>
       <div class="gysenterarcConent">
          <div class="gysenterarcCon">
             <div class="detailedInformation">
                <p>详细信息</p>
             </div>
             <div class="essentialInformation">
                <div class="essInfroConTitle">基本信息</div>
                <div class="essInfroConConent">
                   <table class="gysEnterRrcTable">
                     <tbody class="egysEnterRrcTbody">
                       <tr>
                       <td class="tableKey">公司名称</td>
                       <td class="tableValue">安徽海螺集团有限责任公司</td>
                       <td class="tableKey">经营范围</td>
                       <td class="tableValue">经营范围</td>
                       <td class="tableKey">公司性质</td>
                       <td class="tableValue">公司性质</td>
                     </tr>
                       <tr>
                       <td class="tableKey">总部地址</td>
                       <td class="tableValue">总部地址</td>
                       <td class="tableKey">成立时间</td>
                       <td class="tableValue">成立时间</td>
                     </tr>
                     </tbody>
                   </table>
                 </div>
             </div>
             <div class="businessInformation">
               <div class="businessInforTitle">工商注册信息</div>
               <div class="businessInforCon">
                 <table class="gysEnterRrcTable">
                   <tbody class="egysEnterRrcTbody">
                     <tr>
                       <td class="tableKey">公司名称</td>
                       <td class="tableValue">安徽海螺集团有限责任公司</td>
                       <td class="tableKey">注册地址</td>
                       <td class="tableValue">注册地址</td>
                       <td class="tableKey">注册资本</td>
                       <td class="tableValue">注册资本</td>
                     </tr>
                     <tr>
                       <td class="tableKey">成立时间</td>
                       <td class="tableValue">成立时间</td>
                       <td class="tableKey">注册号</td>
                       <td class="tableValue">注册号</td>
                       <td class="tableKey">法定代表人</td>
                       <td class="tableValue">法定代表人</td>
                     </tr>
                     <tr>
                       <td class="tableKey">登记机关</td>
                       <td class="tableValue">登记机关</td>
                       <td class="tableKey">企业类型</td>
                       <td class="tableValue">企业类型</td>
                       <td class="tableKey">营业期限</td>
                       <td class="tableValue">营业期限</td>
                     </tr>
                     <tr>
                       <td class="tableKey">年检时间</td>
                       <td class="tableValue">年检时间</td>
                       <td class="tableKey">申请人信息</td>
                       <td class="tableValue">得得得得到多</td>
                     </tr>
                     <tr>
                       <td class="tableKey">经营范围</td>
                       <td class="tableValue">浮动浮动所发生的</td>
                     </tr>
                   </tbody>
                 </table>
               </div>
             </div>
          </div>
       </div>
     </div>
     <!--企业档案 end-->
     <!--相关资质 start-->
     <div class="relevantQualifi gysMtop70">
        <div class="relevantQualifiTitle gysChildTitle">
          <p>相关资质</p>
        </div>
        <div class="relevantQualifiConetnt">
          <ul>
            <li>
              <div class="relevQuaImg">
                <img src="../images/gysEnterRec_01.png">
              </div>
              <p>基本资质证书</p>
            </li>
          </ul>
        </div>
     </div>
     <!--相关资质 end-->
   </div>
</body>
</html>