<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1，minimum-scale=1,maximum-sacle=1，user-scalable=no">
  <link rel="stylesheet" href="../css/gysIndex.css">
</head>
<body>
   <div class="gysIndex">
     <!--公司简介 start-->
     <div class="gysCompanyProfile gysMtop50">
        <div class="gyscpTitle gysChildTitle">
          <p>公司简介</p>
          <a href="javascript:;">更多>></a>
        </div>
        <div class="gyscpConent">
          <div class="gyscpConTitle">徽海螺集团有限责任公司</div>
          <p class="gyscpCon">安徽海螺集团有限责任公司以其所属的宁国水泥厂和白马山水泥厂与水泥生产经营的相关资产出资，独家发起成立安徽海螺水泥股份有限公司，主要从事水泥及商品熟料的生产和销售。公司产销量已连续11年位居全国第一，是目前亚洲最大的水泥、熟料供应商。公司拥</div>
        </div>
     <!--公司简介 end-->
     <!--联系方式 start-->
     <div class="gyscontactInformation gysMtop50">
       <div class="gyscfTitle gysChildTitle">
         <p>联系方式</p>
         <a href="javascript:;">更多>></a>
       </div>
       <div class="gyscfContent">
         <div>
           <span>联系方式：</span>
           <p>张经理</p>
         </div>
         <div>
           <span>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</span>
           <a href="javascript:;">登陆后可见</a>
         </div>
         <div>
           <span>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</span>
           <a href="javascript:;">登陆后可见</a>
         </div>
         <div>
           <span>传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp真：</span>
           <a href="javascript:;">登陆后可见</a>
         </div>
         <div>
           <span>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</span>
           <p>安徽省芜湖市文化路39号</p>
         </div>
         <div>
           <span>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：</span>
           <p>100000</p>
         </div>
         <div>
           <span>主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页：</span>
           <p>www.123456789.com</p>
         </div>
       </div>
     </div>
     <!--联系方式 end-->
     <!--企业风采 start-->
     <div class="gsycorporateStyle gysMtop70">
        <div class="gyscsTitle gysChildTitle">
          <p>企业风采</p>
          <a href="javascript:;">更多>></a>
        </div>
        <div class="gyscsContent">
           <ul>
             <li>
               <div class="gyscsConImg">
                  <img src="../images/gyscs_01.png">
               </div>
               <p title="勇于探索 筑梦缅甸">勇于探索 筑梦缅甸</p>
             </li>
             <li>
               <div class="gyscsConImg">
                 <img src="../images/gyscs_01.png">
               </div>
               <p>勇于探索 筑梦缅甸</p>
             </li>
             <li>
               <div class="gyscsConImg">
                 <img src="../images/gyscs_01.png">
               </div>
               <p>勇于探索 筑梦缅甸</p>
             </li>
             <li>
               <div class="gyscsConImg">
                 <img src="../images/gyscs_01.png">
               </div>
               <p>勇于探索 筑梦缅甸</p>
             </li>
             <li>
               <div class="gyscsConImg">
                 <img src="../images/gyscs_01.png">
               </div>
               <p>勇于探索 筑梦缅甸</p>
             </li>
           </ul>
        </div>
     </div>
     <!--企业风采 end-->
     <!--产品展示 start-->
     <div class="gysproductDisplay gysMtop70">
       <div class="gyspdTitle gysChildTitle">
         <p>产品展示</p>
         <a href="javascript:;">更多>></a>
       </div>
       <div class="gysspContent">
         <ul>
           <li>
             <div class="gysspConImg">
                <img src="../images/gyssp_01.png">
             </div>
             <p title="塑钢">塑钢</p>
           </li>
           <li>
             <div class="gysspConImg">
               <img src="../images/gyssp_01.png">
             </div>
             <p title="塑钢">塑钢</p>
           </li>
           <li>
             <div class="gysspConImg">
               <img src="../images/gyssp_01.png">
             </div>
             <p title="塑钢">塑钢</p>
           </li>
           <li>
             <div class="gysspConImg">
               <img src="../images/gyssp_01.png">
             </div>
             <p title="塑钢">塑钢</p>
           </li>
           <li>
             <div class="gysspConImg">
               <img src="../images/gyssp_01.png">
             </div>
             <p title="塑钢">塑钢</p>
           </li>
         </ul>
       </div>
     </div>
     <!--产品展示 end-->
     <!--相关资质 start-->
     <div class="gysRelevantQualificat gysMtop70">
        <div class="gysrqTitle gysChildTitle">
          <p>相关资质</p>
          <a href="javascript:;">更多>></a>
        </div>
       <div class="gysrqContent">
         <ul>
           <li>
             <div class="gysrqConImg">
               <img src="../images/gysrq_01.png">
             </div>
             <p>基本资质证书<span>2</span>个</p>
           </li>
           <li>
             <div class="gysrqConImg">
               <img src="../images/gysrq_01.png">
             </div>
             <p>基本资质证书<span>2</span>个</p>
           </li>
           <li>
             <div class="gysrqConImg">
               <img src="../images/gysrq_01.png">
             </div>
             <p>基本资质证书<span>2</span>个</p>
           </li>
           <li>
             <div class="gysrqConImg">
               <img src="../images/gysrq_01.png">
             </div>
             <p>基本资质证书<span>2</span>个</p>
           </li>
           <li>
             <div class="gysrqConImg">
               <img src="../images/gysrq_01.png">
             </div>
             <p>基本资质证书<span>2</span>个</p>
           </li>
         <ul>
       </div>
     </div>
     <!--相关资质 end-->
   </div>
</body>
</html>