<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1，minimum-scale=1,maximum-sacle=1，user-scalable=no">
  <link rel="stylesheet" href="../css/gysnav.css">
</head>
<body>
    <div class="gysnav">
      <div class="gysnavTop">
        <div class="gysnavTopLeft">
          <p class="gysCompany">徽海螺集团有限公司</p>
          <span></span>
          <p class="gysTele">咨询电话：</p>
          <p class="gysTelephone">XXXXXXXX</p>
        </div>
        <div class="gysnavTopRight">
          <a class="activeA" href="javascript:;">首页</a>
          <a class="noActiveA" href="javascript:;">企业风采</a>
          <a class="noActiveA" href="javascript:;">供应产品</a>
          <a class="noActiveA" href="javascript:;">企业档案</a>
        </div>
      </div>
      <div class="gysnavBanner">
        <img src="../images/gysnav_01.png">
      </div>
      <div class="gysnavBottom">
        <div>中标次数：<span class="gysBidNum">236</span>次</div>
        <div>参与招标次数：<span class="gysTtenderNum">326</span>次</div>
      </div>
    </div>
</body>
</html>