<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>供应商-供应产品</title>
  <meta name="viewport" content="width=device-width, initial-scale=1，minimum-scale=1,maximum-sacle=1，user-scalable=no">
  <link rel="stylesheet" href="../css/gysSupplyProducts.css">
</head>
<body>
   <div class="gysSupplyProducts">
      <div class="gysspTitle gysChildTitle">
        <p>供应产品</p>
      </div>
      <div class="gysspContent">
        <div class="gysspContentSelect">
          <div class="classification">
            <p>选择分类：</p>
            <div class="classificationUl">
              <ul>
                <li class="cfliClick">全部</li>
                <li class="cfliNoClick">内部企业</li>
                <li class="cfliNoClick">供应商</li>
              </ul>
            </div>
          </div>
          <div class="area">
            <p>选择地区：</p>
            <div class="areaUl">
              <ul>
                <li class="cfliClick">全部</li>
                <li class="cfliNoClick">华北</li>
                <li class="cfliNoClick">华南</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="gyssspContentList">
          <div class="gyssspContentListSelect">
            <div class="gyslistSelectLeft">
              <div class="listSelectLeftClick">默认</div>
              <div class="listSelectLeftNoClick"><span>浏览量</span><i class="gysGoUp"></i></div>
              <div class="listSelectLeftNoClick"><span>创建时间</span><i class="gysGoDown"></i></div>
            </div>
            <div class="gyslistSelectRight">
              <a class="goTile electRightAClick" href="javascript:;">平铺</a>
              <a class="goList electRightANoClick" href="javascript:;">列表</a>
            </div>
          </div>
          <div class="gyssspContentListShow">
            <div class="gyssspConListShowP displayBlock">
              <ul>
                <li>
                  <div class="gyssspImgP">
                    <img src="../images/gysssp_01.png">
                  </div>
                  <div class="gysspTitleP">塑钢</div>
                  <div class="gysspComponeyTitleP">中铁十局集团有限公司</div>
                  <div class="gysspPriceP">
                    <p>价格：￥</p>
                    <span class="gysspPriceValP">123.00</span>
                  </div>
                  <div class="gysspDateP">2017-11-20</div>
                </li>
                <li>
                  <div class="gyssspImgP">
                    <img src="../images/gysssp_01.png">
                  </div>
                  <div class="gysspTitleP">塑钢</div>
                  <div class="gysspComponeyTitleP">中铁十局集团有限公司</div>
                  <div class="gysspPriceP">
                    <p>价格：￥</p>
                    <span class="gysspPriceValP">123.00</span>
                  </div>
                  <div class="gysspDateP">2017-11-20</div>
                </li>
                <li>
                  <div class="gyssspImgP">
                    <img src="../images/gysssp_01.png">
                  </div>
                  <div class="gysspTitleP">塑钢</div>
                  <div class="gysspComponeyTitleP">中铁十局集团有限公司</div>
                  <div class="gysspPriceP">
                    <p>价格：￥</p>
                    <span class="gysspPriceValP">123.00</span>
                  </div>
                  <div class="gysspDateP">2017-11-20</div>
                </li>
                <li>
                  <div class="gyssspImgP">
                    <img src="../images/gysssp_01.png">
                  </div>
                  <div class="gysspTitleP">塑钢</div>
                  <div class="gysspComponeyTitleP">中铁十局集团有限公司</div>
                  <div class="gysspPriceP">
                    <p>价格：￥</p>
                    <span class="gysspPriceValP">123.00</span>
                  </div>
                  <div class="gysspDateP">2017-11-20</div>
                </li>
                <li class="gysMright0">
                  <div class="gyssspImgP">
                    <img src="../images/gysssp_01.png">
                  </div>
                  <div class="gysspTitleP">塑钢</div>
                  <div class="gysspComponeyTitleP">中铁十局集团有限公司</div>
                  <div class="gysspPriceP">
                    <p>价格：￥</p>
                    <span class="gysspPriceValP">123.00</span>
                  </div>
                  <div class="gysspDateP">2017-11-20</div>
                </li>
              </ul>
            </div>
            <div class="gyssspConListShowL displayNone">
              <ul>
                <li>
                  <div class="gyssspImgL">
                    <img src="../images/gysssp_01.png">
                  </div>
                  <div class="gysspTitleL">塑钢</div>
                  <div class="gysspComponeyTitleL">中铁十局集团有限公司</div>
                  <div class="gysspPriceL">
                    <p>价格：￥</p>
                    <span class="gysspPriceValL">123.00</span>
                  </div>
                  <div class="gysspDateL">2017-11-20</div>
                </li>
                <li>
                  <div class="gyssspImgL">
                    <img src="../images/gysssp_01.png">
                  </div>
                  <div class="gysspTitleL">塑钢</div>
                  <div class="gysspComponeyTitleL">中铁十局集团有限公司</div>
                  <div class="gysspPriceL">
                    <p>价格：￥</p>
                    <span class="gysspPriceValL">123.00</span>
                  </div>
                  <div class="gysspDateL">2017-11-20</div>
                </li>
                <li>
                  <div class="gyssspImgL">
                    <img src="../images/gysssp_01.png">
                  </div>
                  <div class="gysspTitleL">塑钢</div>
                  <div class="gysspComponeyTitleL">中铁十局集团有限公司</div>
                  <div class="gysspPriceL">
                    <p>价格：￥</p>
                    <span class="gysspPriceValL">123.00</span>
                  </div>
                  <div class="gysspDateL">2017-11-20</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
   </div>
</body>
</html>