<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>企业信息页</title>
  <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../css/common.css">
  <link rel="stylesheet" type="text/css" href="../../css/box.css">
  <link rel="stylesheet" type="text/css" href="../../css/enterInfor.css">
</head>
<body>
  <!--introduce-box start-->
  <div class="introduce-box">
    <div class="intor-top">
      <div class="intor-top-site">
        <a class="title" href="javascript:;">中铁一局集团有限公司</a>
        <span class="telephone">咨询电话：XXXX XXXX</span>
        <a class="collection" href="javascript:;">
          <i></i>
          <span>收藏该门户</span>
        </a>
      </div>
      <div class="intor-top-nav">
        <ul>
          <li>
            <a href="javascript:;" class="navANoClick">首页</a>
          </li>
          <li>
            <a href="javascript:;" class="navANoClick">招标询价</a>
          </li>
          <li>
            <a href="javascript:;" class="navAClick">企业简介</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="intor-middle">
      <a href="javascript:;">
        <img src="../../img/banner.png">
      </a>
    </div>
    <div class="intor-bottom">
      <ul>
        <li>
          <div class="inLeft">
            <img src="../../img/money.png">
            <span class="title">总成交金额</span>
          </div>
          <div class="inRight">
               <span class="rightCont">
                 <span class="moneyCon">2078.78</span>亿元
               </span>
            <span class="rightConb">已完成</span>
          </div>
        </li>
        <li>
          <div class="inLeft">
            <img src="../../img/singular.png">
            <span class="title">总成交单数</span>
          </div>
          <div class="inRight">
               <span class="rightCont">
                 <span class="singular">2134546</span>单
               </span>
            <span class="rightConb">已成交</span>
          </div>
        </li>
        <li>
          <div class="inLeft">
            <img src="../../img/bidding.png">
            <span class="title">招标采购</span>
          </div>
          <div class="inRight">
               <span class="rightCont">
                 已完成<span class="bidding rightCond">12,345</span>元
               </span>
            <span class="rightConb">
                 已成交<span class="rightConc">2345</span>单
               </span>
          </div>
        </li>
        <li>
          <div class="inLeft">
            <img src="../../img/inquiry.png">
            <span class="title">询价采购</span>
          </div>
          <div class="inRight">
                <span class="rightCont">
                 已完成<span class="inquiry rightCond">12,345</span>元
               </span>
            <span class="rightConb">
                 已成交<span class="rightConc">2345</span>单
               </span>
          </div>
        </li>
        <li>
          <div class="inLeft">
            <img src="../../img/purchasing.png">
            <span class="title">竞价采购</span>
          </div>
          <div class="inRight">
               <span class="rightCont">
                 已完成<span class="purchasing rightCond">12,345</span>元
               </span>
            <span class="rightConb">
                 已成交<span class="rightConc">2345</span>单
               </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--introduce-box end-->
  <!--content start-->
  <div class="content">
    <!--公司信息 start-->
    <div class="companyInfor">
      <div class="conInTop">
        <div class="topTitle">
          公司信息
        </div>
      </div>
      <div class="conInCon">
        <div class="conInConTitle">
          中铁一局集团有限公司
        </div>
        <div class="conInConContent">
          <p>中铁一局集团有限公司（简称中铁一局）是世界500强企业——中国中铁股份有限公司的全资子公司。中铁一局前身为铁道部第一工程局，1950年5月始建于甘肃天水，1970年由乌鲁木齐迁至西安，2000年改制为中铁一局集团有限公司。目前，中铁一局具有铁路、公路、市政公用工程施工总承包特级资质，房屋建筑工程施工总承包壹级资质，铁路铺轨架梁、桥梁、隧道、公路路面工程专业承包壹级资质和城市轨道交通工程专业资质等。
          截止2016年底，中铁一局员工总量25707人，其中各类专业技术人员14231人，高级职称1297人,教授级高工92人，享受国家级政府津贴的5人；拥有各类机械设备7001台（套），其中盾构机50台；资产总额达441.56亿元，净资产60.62亿元。2016年，实现新签合同额1066.21亿元，企业营业额667.01亿元。作为共和国铁路建设的排头兵，中铁一局始终致力于国家基础设施建设。60多年来，参建干、支线铁路120多条,完成铺轨2.9万余公里，约占新中国铁路铺轨总量的七分之一；累计修建公路7000余公里，完成房屋建筑1700余万平方米、市政工程200余项。业务范围覆盖除澳台以外的全国各省、市、自治区，并在新加坡、巴基斯坦、斐济、马来西亚等十多个国家开展海外工程承包业务。</p>
        </div>
      </div>
    </div>
    <!--公司信息 end-->
    <!--公司相册 start-->
    <div class="companyAlbum">
      <div class="comAlTop">
        <div class="topTitle">
          公司信息
        </div>
      </div>
      <div class="comAlCon">
        <ul>
          <li class="marL0">
            <div class="comAlLiImg">
              <img src="../../img/comImg.png">
            </div>
            <div class="comAlLiTitle">
              西安大唐芙蓉园
            </div>
          </li>
          <li>
            <div class="comAlLiImg">
              <img src="../../img/comImg.png">
            </div>
            <div class="comAlLiTitle">
              西安大唐芙蓉园
            </div>
          </li>
          <li>
            <div class="comAlLiImg">
              <img src="../../img/comImg.png">
            </div>
            <div class="comAlLiTitle">
              西安大唐芙蓉园
            </div>
          </li>
          <li>
            <div class="comAlLiImg">
              <img src="../../img/comImg.png">
            </div>
            <div class="comAlLiTitle">
              西安大唐芙蓉园
            </div>
          </li>
          <li>
            <div class="comAlLiImg">
              <img src="../../img/comImg.png">
            </div>
            <div class="comAlLiTitle">
              西安大唐芙蓉园
            </div>
          </li>
          <li class="marL0">
            <div class="comAlLiImg">
              <img src="../../img/comImg.png">
            </div>
            <div class="comAlLiTitle">
              西安大唐芙蓉园
            </div>
          </li>
          <li>
            <div class="comAlLiImg">
              <img src="../../img/comImg.png">
            </div>
            <div class="comAlLiTitle">
              西安大唐芙蓉园
            </div>
          </li>
          <li>
            <div class="comAlLiImg">
              <img src="../../img/comImg.png">
            </div>
            <div class="comAlLiTitle">
              西安大唐芙蓉园
            </div>
          </li>
          <li>
            <div class="comAlLiImg">
              <img src="../../img/comImg.png">
            </div>
            <div class="comAlLiTitle">
              西安大唐芙蓉园
            </div>
          </li>
          <li>
            <div class="comAlLiImg">
              <img src="../../img/comImg.png">
            </div>
            <div class="comAlLiTitle">
              西安大唐芙蓉园
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--公司相册 end-->
  </div>
  <!--content end-->
</body>
</html>