*{
   padding: 0;
   margin: 0;
   font-family: 'Microsoft Yahei',Tahoma,'Simsun','宋体';
}
/*头部 start*/
.header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.header a{
    width: 251px;
    height: 61px;
    display: block;
    overflow: hidden;
    margin-top: 20px;
    float: left;
}
.header i{
    width: 1px;
    height: 20px;
    background-color: #5b5b5b;
    margin: 40px 20px;
    display: block;
    float: left;
}
.header span{
    font-size: 22px;
    float: left;
    display: block;
    height: 100px;
    line-height: 100px;
    color: #5b5b5b;
}
/*头部 end*/
.container{
    width: 100%;
    height: auto;
}
/*供应商信息提交 start*/
.supplier-infor{
    width: 100%;
    height: 700px;
    background: url("../img/supper_01.png") 100% 100% no-repeat;
}
.supplier-infor-con{
    width: 1200px;
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
}
.con-form{
    width: 550px;
    height: 700px;
    float: right;
    margin-right: 20px;
    background-color: rgba(8,10,10,0.8);
}
.con-form div{
    width: auto;
    margin-top: 40px;
    float: left;
    position: relative;
}
.cf-title{
    width: 550px !important;
    text-align: center;
    margin-top: 30px !important;
}
.cf-title-b{
    color: #f44848;
    font-size: 26px;
    margin-top: 20px;
}
.cf-title-s{
    color: #ffffff;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
}
.con-form span{
    display: block;
    width: 72px;
    margin-left: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #f1f1f1;
    float: left;
}
.con-form input{
    width: 135px;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border: 0;
    display: block;
    float: left;
    padding-left: 5px;
}
.name-input{
    width: 395px !important;
}
.tel-span{
    width: auto !important;
    margin-left: 36px !important;
}
.telephone{
    margin-left: 30px !important;
}
.con-form div ul{
    width: 417px;
    margin-left: 5px;
    float: left;
}
.con-form div ul li{
    list-style: none;
    float: left;
    margin-left: 15px;
    color: #ffffff;
    cursor: pointer;
}

.con-form li i{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/isCheck.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
}
.con-form li p{
    float: left;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
}
.busDescription{
    width: 390px;
    height: 90px;
    margin-left: 20px;
    resize: none;
    padding: 5px;
}
.busDescription::-webkit-input-placeholder{
    padding-top: 10px;
    padding-left: 10px;
}
.busDescription::-moz-placeholder{
    padding-top: 10px;
    padding-left: 10px;
}
.busDescription:-ms-input-placeholder{
    padding-top: 10px;
    padding-left: 10px;
}
.aSubmit{
    display: block;
    width: 180px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #f44848;
    border-radius:4px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 60px;
    float: left;
}
.aLogin{
    display: block;
    width: 180px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #ffffff;
    border-radius:4px;
    color: #292929;
    font-size: 20px;
    text-decoration: none;
    margin-left: 80px;
    float: left;
}
.liMp{
    margin-top: 20px;
}
.iChecked{
    background-position: 0 -35px !important;
}
.pChecked{
    color: #f44848 !important;
}
.divMp{
    margin-top: 30px !important;
}
.addressSpan{
    width: 77px !important;
    margin-left: 20px;
}
.addressCheck{
    margin-left: 14px !important;
}
.cityCheck{
    width: auto;
    min-width: 180px !important;
    position: absolute !important;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    left: 110px;
    top: -40px;
}
.cityCheck select{
    margin-left: 10px;
    float: left;
    padding: 6px 0;
}
/*供应商信息提交 end*/
/*鲁班微信 start*/
.weixin{
    width: 1200px;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
}
.erweima{
    width: 200px;
    height: 280px;
    background-color: #f44848;
    margin: 100px 0 0 40px;
    float: left;
}
.erweima img{
    margin: 17px;
}
.erweima p{
    color: #ffffff;
    font-size: 17px;
    margin-left: 17px;
    line-height: 22px;
}
.wxShow{
    width: 540px;
    float: left;
    margin-left: 140px;
    margin-top: 150px;
    overflow: hidden;
}
.wxShow div{
    overflow: hidden;
    margin-top: 30px;
}
.wxShow div img,.wxShow div p{
    display: block;
    float: left;
}
.wxShow div p{
    color: #000000;
    margin-left: 30px;
    height: 38px;
    line-height: 38px;
    font-size: 32px;
}
/*鲁班微信 end*/
/*VIP定制服务 start*/
.customService{
    width: 100%;
    height: 790px;
    overflow: hidden;
    background-color: #f3f3f3;
}
.csShow{
    width: 1200px;
    height: 790px;
    margin: 0 auto;
}
.csShowTitle{
    width: 1200px;
    text-align: center;
    overflow: hidden;
    margin-top: 100px;
}
.title1{
    font-size: 34px;
    color: #222222;
}
.title2,.title3{
    color: #777777;
    font-size: 18px;
}
.title2{
    margin-top: 40px;
}
.title3{
    margin-top: 10px;
}
.csUl{
    width: 850px;
    margin-left: 173px;
    overflow: hidden;
}
.csUl ul{
    overflow: hidden;
}
.csUl ul li{
    width: 112px;
    height: 203px;
    list-style: none;
    margin-top: 40px;
    margin-left: 130px;
    text-align: center;
    float: left;
    position: relative;
}
.csUl ul li:first-child,.csLi5{
    margin-left: 0 !important;
}
.csUl ul li div{
    position: absolute;
}
.csT1{
    font-size: 18px;
    color: #000000;
    margin-top: 20px;
}
.csT2{
    font-size: 14px;
    color: #777777;
    line-height: 20px;
    margin-top: 10px;
}
/*VIP定制服务 end*/
/*有价值的定制服务 start*/
.valCustomService{
    width: 100%;
    height: 500px;
    background: url("../img/vcs1.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.valCustomService .img{
    width: 663px;
    height: 205px;
    margin: 147.5px auto;
}
/*有价值的定制服务 end*/
/*信息订阅 start*/
.con{
    width: 1200px;
    height: 430px;
    margin: 0 auto;
    overflow: hidden;
}
.conImg{
    width: 350px;
    height: 230px;
    margin: 100px 60px 0 124px;
    overflow: hidden;
    float: left;
}
.conShow{
    width: 480px;
    float: left;
    margin-top: 100px;
}
.conTitl{
    width: 200px;
    float: left;
    height: 40px;
    line-height: 40px;
}
.conTitl img{
    display: block;
    float: left;
}
.conTitl span{
    display: block;
    float: left;
    font-size: 26px;
    color: #2a2a2a;
    margin-left: 20px;
}
.conCon{
    width: 412px;
    margin: 12px 0 0 60px;
    overflow: hidden;
    float: left;
}
.conCon p{
    color: #818181;
    height: 30px;
    line-height: 30px;
}
.goA{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 126px;
    height: 38px;
    line-height: 38px;
    color: #ffffff;
    font-size: 18px;
    background-color: #f44848;
    margin: 20px 0 0 60px;
    float: left;
}
/*信息订阅 end*/
/*项目信息 start*/
.proInfor,.customerRelation{
    width: 100%;
    height: 430px;
    overflow: hidden;
    background-color: #f3f3f3;
}
.conShow1{
    width: 480px;
    float: left;
    margin-top: 100px;
    margin-left: 124px;
    margin-right: 116px;
}
.conImg1{
    margin-top: 100px;
}
/*项目信息 end*/
/*轮播图 start*/
.showList{
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    position: relative;
}
.sl-con{
    width: 1124px;
    height: 350px;
    overflow: hidden;
    position: absolute;
    margin-left: 38px;
    margin-top: 100px;
}

.sl-con ul li{
    position: absolute;
    top: 66px;
    left: 0;
    list-style: none;
    opacity: 0;
    transition: all 0.3s ease-out;
    border: 1px solid #f44848;
}
.sl-con ul li img{
    width: 272px;
    height: 180px;
    border:none;
    float: left;
    padding: 20px;
}

.p1{
    transform:translate3d(0px,0,0) scale(1);
    transform-origin:0 50%;
    opacity: 0.8 !important;
    z-index: 2;
}
/*translate3d X值为li图片的宽（312）*1.3（(1.6-1)/2+1）  405*/
.p2{
    transform:translate3d(405px,0,0) scale(1.6);
    z-index: 3;
    opacity: 1 !important;
    background-color: #f44848;
    border: none !important;
}
/*translate3d X值为li图片的宽（312）*2.6（(1.6+1）  810*/
/*有1px的误差，自己调整*/
.p3{
    transform:translate3d(810px,0,0) scale(1);
    transform-origin:100% 50%;
    opacity: 0.8 !important;
    z-index: 2;
}
.btn{
    width: 30px;
    height: 30px;
    display: block;
    background-color: #f44848;
    position: absolute;
    top: 260px;
    cursor: pointer;
}
.prev i{
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 14px solid #ffffff;
    border-bottom: 7px solid transparent;
    margin: 8px 8px;
}
.next{
    right: 0;
}
.next i{
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 14px solid #ffffff;
    border-bottom: 7px solid transparent;
    margin: 8px 8px;
}


/*轮播图  end*/
/*信息列表操作 start*/
.inforList{
    width: 100%;
    height: 610px;
    overflow: hidden;
    background-color: #f44848;
}
.ilShow{
    width: 1200px;
    height: 610px;
    margin: 0 auto;
    overflow: hidden;
}
.ilShow ul{
    width: 1200px;
    height: 610px;
    overflow: hidden;
}
.ilShow ul li{
    width: 270px;
    height: 412px;
    float: left;
    margin-left: 40px;
    margin-top: 100px;
    background-color: #ffffff;
    list-style: none;
}
.ilShow ul li:first-child{
    margin-left: 0 !important;
}
.il_li .title{
    color: #555555;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.il_li .content{
    margin-top: 20px;
}
.il_li .content p{
    text-align: center;
    font-size: 14px;
    color: #555555;
    line-height: 25px;
}
.il_li  a{
    text-align: center;
    text-decoration: none;
    width: 126px;
    height: 38px;
    line-height: 38px;
    display: block;
    background-color: #f44848;
    color: #ffffff;
    margin:20px 70px;
}
/*信息列表操作 end*/
/*footer start*/
.footer{
    width: 100%;
    height: 485px;
    overflow: auto;
}
.foot-top{
    width: 100%;
    height: 440px;
    overflow: hidden;
    background-color: #f2f2f2;
}
.fb-con{
    width: 1200px;
    height: 440px;
    overflow: hidden;
    margin: 0 auto;
}
.fbc1{
    width: 254px;
    height: 60px;
    float: left;
    margin-top: 65px;
}
.fbc2{
    width: 570px;
    height: 180px;
    margin: 65px 40px 0 180px;
    overflow: hidden;
    float: left;
}
.fbc-list1{
    width: 112px;
    height: 180px;
    float: left;
}
.fbcl-title{
    width: 100%;
    font-size: 18px;
    color: #555555;
    height: 20px;
    font-weight: bold;
}
.line ul li{
    width: 100%;
    font-size: 16px;
    float: left;
    margin-top: 20px;
    list-style: none;
}
.line ul li:hover a{
    color: #f44848
}
.line ul li a{
    color: #777777;
    text-decoration: none;
}
.fbc-list2{
    width: 72px;
    margin-left: 60px;
    height: 180px;
    float: left;
}
.fbc-list3{
    width: 96px;
    margin-left: 80px;
    height: 180px;
    float: left;
}
.fbc-list4{
    width: 113px;
    margin-left: 36px;
    height: 180px;
    float: left;
}
.fbc3{
    width: 156px;
    height: 180px;
    float: left;
    margin-top: 65px;
}

.fbc3 p{
    width: 156px;
    font-size: 16px;
    color: #777777;
    text-align: center;
    margin-top: 5px;
}
.fbc4{
    width: 569px;
    margin: 116px 315px 0 315px;
    text-align: center;
    float: left;
}
.fbc4 ul li{
    list-style: none;
    float: left;
    font-size: 16px;
    padding: 0 15px;
}
.fbc4 ul > li + li{
    border-left: 1px solid #777777;
}
.fbc4 ul li a{
    text-decoration: none;
    color: #777777;
}
.fbc4 ul li:hover a{
    color: #f44848
}
.fbc5{
    float: left;
    margin-top: 20px;
    margin-left: 174px;
}
.fbc5 ul li{
    float: left;
    list-style: none;
    font-size: 16px;
    color: #777777;
}
.fbc5 ul > li + li{
    margin-left: 40px;
}
.foot-bottom{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    overflow: hidden;
    background-color: #dddddd;
    color: #555555;
    font-size: 14px;
}
.foot-bottom span:first-child{
    margin-right: 15px;
}
/*footer end*/
/*公共类 start*/
.pro{
    position: absolute;
    font-size: 12px;
    top:50px;
    left: 122px;
    color: #f44848;
    display: block;
}
.proShow{
    display: block;
}
.proHide{
    display: none;
}
.displayNone{
    display: none;
}
/*公共类 end*/