<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>头部</title>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/head.css">
</head>
<body>
   <head>
     <div class="head">
       <div class="headCon">
         <div class="lt">客服电话：4006-010100（人工客服时间:工作日8:00-12:00;13:30~17:30）</div>
         <div class="rt">
           <a href="javascript:;">登录</a>
           <span>|</span>
           <a href="javascript:;">免费注册</a>
           <span>|</span>
           <a href="javascript:;">网站导航</a>
           <span>|</span>
           <a href="javascript:;">会员中心</a>
         </div>
       </div>
     </div>
   </head>
</body>
</html>