*{
   margin: 0;
   padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.introduction{
    height: 520px;
    background: url("./img/1.png") no-repeat;
    position: relative;
}
.in-logo{
    margin-left: 121px;
    margin-top: 80px;
}
/*企业介绍 start*/
.in-intro{
    width: 525px;
    height: 200px;
    margin-left: 100px;
    margin-top: 60px;
}
.in-title{
    width: 525px;
    overflow: hidden;
}
.in-title p{
    float: left;
    font-size: 18px;
    color: #ffd427;
}
.in-title a{
    display: block;
    float: right;
    font-size: 12px;
    color: #ffd427;
    margin-top: 6px;
}
.in-content{
    text-indent: 2em;
    margin-top: 20px;
    height: 160px;
    overflow: hidden;
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
}
/*企业介绍 end*/

/*企业文化 start*/
.in-culture{
    width: 330px;
    overflow: hidden;
    position: absolute;
    top:130px;
    left: 770px;
}
.cu-title{
    font-size: 16px;
    color: #ffd427;
}
.cu-content{

}
/*企业文化 start*/