<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品介绍-列表</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/proList.css">
</head>
<body>
    <div class="container">
        <div class="con_title">
            <a href="javascript:;" class="num"></a>
            <span>当前位置：</span>
            <a href="javascript:;">企业展厅</a>
            <em>></em>
            <a href="javascript:;">产品介绍</a>
        </div>
        <div class="businessScope">
            <div class="bs_title">
                <p>经营范围</p>
                <span></span>
            </div>
            <div class="bs_content">
                <p>徽海螺集团有限责任公司以其所属的宁国水泥厂和白马山水泥厂与水泥生产经营的相关资产出资，独家发起成立安徽海螺水泥股份有限公司，主要从事水泥及商品熟料的生产和销售。公司产销量已连续11年位居全国第一，是目前亚洲最大的水泥、熟料供应商。公司拥有两支股票：1997年10月21日，海螺水泥H股（0914）在香港联合交易所正式挂牌交易，成为中国水泥行业首家在境外上市的水泥企业；2002年2月7日，海螺水泥 A 股在上海证券交易所成功上市。</p>
                <p>公司拥有两支股票：1997年10月21日，海螺水泥H股在香港联合交易所正式挂牌交易，成为我国水泥行业首家在境外上市的水泥企业;2002年2月7日，海螺水泥A股在上海证券交易所成功上市。 截止2006年底，在华东、华南九个省、市、自治区，公司先后建成投产熟料工厂17家，水泥...</p>
            </div>
        </div>
        <div class="supplyProduct">
            <div class="sp_title">
                <p>供应产品</p>
                <span></span>
            </div>
            <div class="sp_content">
                <div class="select_set">
                    <div class="select_set_t">
                        <span>全部结果<i></i></span>
                    </div>
                    <div class="select_set_itemList">
                        <div class="select_set_item">
                            <p>负离子粉</p>
                            <span>（74）</span>
                            <i></i>
                        </div>
                        <div class="select_set_item">
                            <p>负离子粉</p>
                            <span>（74）</span>
                            <i></i>
                        </div>
                        <div class="select_set_item">
                            <p>负离子粉</p>
                            <span>（74）</span>
                            <i></i>
                        </div>
                    </div>
                </div>
                <div class="select_list">
                   <ul>
                       <li>
                           <p title="负离子粉我留起吧就是十一十二">负离子粉我留起吧就是十一十二</p>
                           <span>（74）</span>
                           <i></i>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                           <i></i>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                       <li>
                           <p>负离子粉</p>
                           <span>（74）</span>
                       </li>
                   </ul>
                </div>
                <div class="select_bottom"></div>
                <div class="select_search">
                    <a href="javascript:;" class="aNoClick">列表</a>
                    <a href="javascript:;" class="aClick">平铺</a>
                    <i></i>
                    <input type="text" value="" placeholder="搜索">
                </div>
                <div class="select_result_p displayNone">
                    <ul>
                        <li>
                            <img src="../images/proList/4.png">
                            <div class="title">
                                水泥机器
                            </div>
                            <div class="price">
                                <p>价格：</p>
                                <span>10000元</span>
                            </div>
                            <div class="saleUnit">
                                <p>出售单位：</p>
                                <p>件</p>
                            </div>
                        </li>
                        <li>
                            <img src="../images/proList/4.png">
                            <div class="title">
                                水泥机器
                            </div>
                            <div class="price">
                                <p>价格：</p>
                                <span>10000元</span>
                            </div>
                            <div class="saleUnit">
                                <p>出售单位：</p>
                                <p>件</p>
                            </div>
                        </li>
                        <li>
                            <img src="../images/proList/4.png">
                            <div class="title">
                                水泥机器
                            </div>
                            <div class="price">
                                <p>价格：</p>
                                <span>10000元</span>
                            </div>
                            <div class="saleUnit">
                                <p>出售单位：</p>
                                <p>件</p>
                            </div>
                        </li>
                        <li>
                            <img src="../images/proList/4.png">
                            <div class="title">
                                水泥机器
                            </div>
                            <div class="price">
                                <p>价格：</p>
                                <span>10000元</span>
                            </div>
                            <div class="saleUnit">
                                <p>出售单位：</p>
                                <p>件</p>
                            </div>
                        </li>
                        <li>
                            <img src="../images/proList/4.png">
                            <div class="title">
                                水泥机器
                            </div>
                            <div class="price">
                                <p>价格：</p>
                                <span>10000元</span>
                            </div>
                            <div class="saleUnit">
                                <p>出售单位：</p>
                                <p>件</p>
                            </div>
                        </li>
                        <li>
                            <img src="../images/proList/4.png">
                            <div class="title">
                                水泥机器
                            </div>
                            <div class="price">
                                <p>价格：</p>
                                <span>10000元</span>
                            </div>
                            <div class="saleUnit">
                                <p>出售单位：</p>
                                <p>件</p>
                            </div>
                        </li>
                        <li>
                            <img src="../images/proList/4.png">
                            <div class="title">
                                水泥机器
                            </div>
                            <div class="price">
                                <p>价格：</p>
                                <span>10000元</span>
                            </div>
                            <div class="saleUnit">
                                <p>出售单位：</p>
                                <p>件</p>
                            </div>
                        </li>
                        <li>
                            <img src="../images/proList/4.png">
                            <div class="title">
                                水泥机器
                            </div>
                            <div class="price">
                                <p>价格：</p>
                                <span>10000元</span>
                            </div>
                            <div class="saleUnit">
                                <p>出售单位：</p>
                                <p>件</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="select_result_l">
                   <ul>
                       <li>
                           <img src="../images/proList/5.png">
                           <div class="sRight">
                               <span class="sr_title">
                                   水泥机器水泥机器水泥机器水泥机器水
                               </span>
                               <span class="sr_guige">
                                   XXXX规格
                               </span>
                               <span class="sr_price">
                                   10000元/件
                               </span>
                               <p>海螺水泥1号</p>
                           </div>
                       </li>
                       <li>
                           <img src="../images/proList/5.png">
                           <div class="sRight">
                               <span class="sr_title">
                                   水泥机器水泥机器水泥机器水泥机器水
                               </span>
                               <span class="sr_guige">
                                   XXXX规格
                               </span>
                               <span class="sr_price">
                                   10000元/件
                               </span>
                               <p>海螺水泥1号</p>
                           </div>
                       </li>
                       <li>
                           <img src="../images/proList/5.png">
                           <div class="sRight">
                               <span class="sr_title">
                                   水泥机器水泥机器水泥机器水泥机器水
                               </span>
                               <span class="sr_guige">
                                   XXXX规格
                               </span>
                               <span class="sr_price">
                                   10000元/件
                               </span>
                               <p>海螺水泥1号</p>
                           </div>
                       </li>
                       <li>
                           <img src="../images/proList/5.png">
                           <div class="sRight">
                               <span class="sr_title">
                                   水泥机器水泥机器水泥机器水泥机器水
                               </span>
                               <span class="sr_guige">
                                   XXXX规格
                               </span>
                               <span class="sr_price">
                                   10000元/件
                               </span>
                               <p>海螺水泥1号</p>
                           </div>
                       </li>
                       <li>
                           <img src="../images/proList/5.png">
                           <div class="sRight">
                               <span class="sr_title">
                                   水泥机器水泥机器水泥机器水泥机器水
                               </span>
                               <span class="sr_guige">
                                   XXXX规格
                               </span>
                               <span class="sr_price">
                                   10000元/件
                               </span>
                               <p>海螺水泥1号</p>
                           </div>
                       </li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../js/proList.js"></script>
</body>
</html>