<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品详情</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/proDetail.css">
    <link rel="stylesheet" type="text/css" href="../css/pgwslider.css">
</head>
<body>
    <div class="container">
        <div class="pd_title">
            <a href="javascript:;" class="num"></a>
            <span>当前位置：</span>
            <a href="javascript:;">企业展厅</a>
            <em>></em>
            <a href="javascript:;">供应产品</a>
        </div>
        <div class="pd_content">
            <div class="pd_lf">
               <ul class="pgwSlider">
                   <li><img src="../images/prode/1.png"></li>
                   <li><img src="../images/prode/1.png"></li>
                   <li><img src="../images/prode/1.png"></li>
                   <li><img src="../images/prode/1.png"></li>
               </ul>
            </div>
            <div class="pd_rl">
                <div class="rl_title">
                    <span class="spanClick" con="equi">设备信息</span>
                    <span class="spanNoClick" con="contact">联系方式</span>
                    <i></i>
                </div>
                <div class="rl_con">
                    <div class="equiInfor displayBlock">
                        <ul>
                            <li>
                                <p>产品名称：</p>
                                <span>推土机</span>
                            </li>
                            <li>
                                <p>产品报价：</p>
                                <span class="price">100万元</span>
                            </li>
                            <li>
                                <p>产品货号：</p>
                                <span>推土机一号</span>
                            </li>
                            <li>
                                <p>规格型号：</p>
                                <span>MEI3-TRFG-E3WW</span>
                            </li>
                            <li>
                                <p>产品品牌：</p>
                                <span>徐州重工</span>
                            </li>
                            <li>
                                <p>计价单位：</p>
                                <span>台</span>
                            </li>
                            <li>
                                <p>发货地址：</p>
                                <span>中国 江苏 徐州市 城东大道6号</span>
                            </li>
                        </ul>
                    </div>
                    <div class="contactInfor displayNone">
                        <ul>
                            <li>
                                <p>公司名称：</p>
                                <span>张经理</span>
                            </li>
                            <li>
                                <p>联系人：</p>
                                <span>请<a href="javascript:;">登录</a>查看</span>
                            </li>
                            <li>
                                <p>手机：</p>
                                <span>请<a href="javascript:;">登录</a>查看</span>
                            </li>
                            <li>
                                <p>电话：</p>
                                <span>请<a href="javascript:;">登录</a>查看</span>
                            </li>
                            <li>
                                <p>传真：</p>
                                <<span>请<a href="javascript:;">登录</a>查看</span>
                            </li>
                            <li>
                                <p>地址：</p>
                                <span>请<a href="javascript:;">登录</a>查看</span>
                            </li>
                            <li>
                                <p>邮编：</p>
                                <span>请<a href="javascript:;">登录</a>查看</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="details">
                <div class="deta_title">
                    <p>基本信息</p>
                    <span></span>
                </div>
                <div class="deta_content">
                    用户填写的详细说明文字
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../js/pgwslider.js"></script>
    <script type="text/javascript" src="../js/proDetail.js"></script>
    <script>
        $('.pgwSlider').pgwSlider();
    </script>
</body>
</html>