<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>其他资讯</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/qtzx.css">
</head>
<body>
    <div class="container">
        <div class="con_title">
            <a href="javascript:;" class="num"></a>
            <span>当前位置：</span>
            <a href="javascript:;">企业展厅</a>
            <em>></em>
            <a href="javascript:;">其他资讯</a>
        </div>
        <div class="researchReport">
            <div class="rr_title">
                <p>研究报告</p>
                <span></span>
            </div>
            <div class="rr_content">
                <table>
                    <thead>
                      <tr>
                          <th width="155">日期</th>
                          <th>名称</th>
                          <th>机构</th>
                          <th width="112">查看</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>2015-07-07</td>
                          <td>关于行业底部并购的机会</td>
                          <td>民生银行</td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>2015-07-07</td>
                          <td>关于行业底部并购的机会</td>
                          <td>民生银行</td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>2015-07-07</td>
                          <td>关于行业底部并购的机会</td>
                          <td>民生银行</td>
                          <td></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="relatedNews">
            <div class="rn_title">
                <p>相关新闻</p>
                <span></span>
            </div>
            <div class="rn_content">
               <img src="../images/qtzx/1.png">
            </div>
        </div>
        <div class="quotation">
            <div class="qut_title">
                <p>行情</p>
                <span></span>
            </div>
            <div class="qut_content">
                <img src="../images/qtzx/2.png">
            </div>
        </div>
    </div>
</body>
</html>