<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业档案</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/qyda.css">
</head>
<body>
     <div class="container">
         <div class="con_title">
             <a href="javascript:;" class="num"></a>
             <span>当前位置：</span>
             <a href="javascript:;">企业展厅</a>
             <em>></em>
             <a href="javascript:;">企业档案</a>
         </div>
         <div class="essInformation">
             <div class="ei_title">
                 <p>基本信息</p>
                 <span></span>
             </div>
             <div class="ei_content">
                 <img src="../images/qyda/1.png">
             </div>
         </div>
         <div class="releQuali">
             <div class="rq_title">
                 <p class="tl">相关资质</p>
                 <p class="tr"></p>
                 <ul>
                     <li class="liClick">基本资质证书（16个）</li>
                     <li>产品类证书（16个）</li>
                     <li>经营许可类证书（16个）</li>
                     <li>荣誉证书（16个）</li>
                     <li>其他相关证书（16个）</li>
                 </ul>
             </div>
             <div class="rq_content">
                 <ul>
                     <li>
                         <img src="../images/qyda/2.png">
                         <span>资质证书</span>
                     </li>
                     <li>
                         <img src="../images/qyda/2.png">
                         <span>资质证书</span>
                     </li>
                     <li>
                         <img src="../images/qyda/2.png">
                         <span>资质证书</span>
                     </li>
                     <li>
                         <img src="../images/qyda/2.png">
                         <span>资质证书</span>
                     </li>
                     <li>
                         <img src="../images/qyda/2.png">
                         <span>资质证书</span>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
</body>
</html>