<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>门户供应商首页--统一身份</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/tysf.css">
</head>
<body>
    <div class="container">
        <div class="wuZi conlIst">
            <div class="title">
                <i></i>
                <span>物资供应商</span>
            </div>
            <div class="con">
                <div class="left">
                   <img src="../images/tysf/left.png">
                </div>
                <div class="right">
                   <div class="ri_nav">
                       <ul>
                           <li class="liClick">战略供应商</li>
                           <li>优质供应商</li>
                           <li>合格供应商</li>
                           <li>注册供应商</li>
                       </ul>
                       <a href="javascript:;">更多>></a>
                   </div>
                   <div class="ri_con">
                       <ul>
                           <li><img src="../images/tysf/li.png"></li>
                           <li><img src="../images/tysf/li.png"></li>
                           <li><img src="../images/tysf/li.png"></li>
                           <li><img src="../images/tysf/li.png"></li>
                           <li><img src="../images/tysf/li.png"></li>
                           <li><img src="../images/tysf/li.png"></li>
                           <li><img src="../images/tysf/li.png"></li>
                           <li><img src="../images/tysf/li.png"></li>
                       </ul>
                   </div>
                </div>
            </div>
        </div>
        <div class="jiXie conlIst">
            <div class="title">
                <i></i>
                <span>机械设备供应商</span>
            </div>
            <div class="con">
                <div class="left">
                    <img src="../images/tysf/left.png">
                </div>
                <div class="right">
                    <div class="ri_nav">
                        <ul>
                            <li class="liClick">战略供应商</li>
                            <li>优质供应商</li>
                            <li>合格供应商</li>
                            <li>注册供应商</li>
                        </ul>
                        <a href="javascript:;">更多>></a>
                    </div>
                    <div class="ri_con">
                        <ul>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="banGong conlIst">
            <div class="title">
                <i></i>
                <span>办公用品</span>
            </div>
            <div class="con">
                <div class="left">
                    <img src="../images/tysf/left.png">
                </div>
                <div class="right">
                    <div class="ri_nav">
                        <ul>
                            <li class="liClick">战略供应商</li>
                            <li>优质供应商</li>
                            <li>合格供应商</li>
                            <li>注册供应商</li>
                        </ul>
                        <a href="javascript:;">更多>></a>
                    </div>
                    <div class="ri_con">
                        <ul>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                            <li><img src="../images/tysf/li.png"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../js/tysf.js"></script>
</body>
</html>