<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>采购单位主页</title>
  <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../css/common.css">
  <link rel="stylesheet" type="text/css" href="../../css/index.css">
</head>
<body>
    <!--introduce-box start-->
   <div class="introduce-box">
     <div class="intor-top">
       <div class="intor-top-site">
         <a class="title" href="javascript:;">中铁一局集团有限公司</a>
         <span class="telephone">咨询电话：XXXX XXXX</span>
         <a class="collection" href="javascript:;">
           <i></i>
           <span>收藏该门户</span>
         </a>
       </div>
       <div class="intor-top-nav">
         <ul>
           <li>
             <a href="javascript:;" class="navAClick">首页</a>
           </li>
           <li>
             <a href="javascript:;" class="navANoClick">招标询价</a>
           </li>
           <li>
             <a href="javascript:;" class="navANoClick">企业简介</a>
           </li>
         </ul>
       </div>
     </div>
     <div class="intor-middle">
       <a href="javascript:;">
         <img src="../../img/banner.png">
       </a>
     </div>
     <div class="intor-bottom">
       <ul>
         <li>
           <div class="inLeft">
             <img src="../../img/">
             <span class=""></span>
           </div>
           <div class="inRight"></div>
         </li>
       </ul>
     </div>
   </div>
    <!--introduce-box end-->


    <script type="text/javascript" src="../../js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../../js/index.js"></script>
</body>
</html>