<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>采购单位主页</title>
  <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../css/common.css">
  <link rel="stylesheet" type="text/css" href="../../css/box.css">
  <link rel="stylesheet" type="text/css" href="../../css/index.css">
</head>
<body>
    <!--introduce-box start-->
   <div class="introduce-box">
     <div class="intor-top">
       <div class="intor-top-site">
         <a class="title" href="javascript:;">中铁一局集团有限公司</a>
         <span class="telephone">咨询电话：XXXX XXXX</span>
         <a class="collection" href="javascript:;">
           <i></i>
           <span>收藏该门户</span>
         </a>
       </div>
       <div class="intor-top-nav">
         <ul>
           <li>
             <a href="javascript:;" class="navAClick">首页</a>
           </li>
           <li>
             <a href="javascript:;" class="navANoClick">招标询价</a>
           </li>
           <li>
             <a href="javascript:;" class="navANoClick">企业简介</a>
           </li>
         </ul>
       </div>
     </div>
     <div class="intor-middle">
       <a href="javascript:;">
         <img src="../../img/banner.png">
       </a>
     </div>
     <div class="intor-bottom">
       <ul>
         <li>
           <div class="inLeft">
             <img src="../../img/money.png">
             <span class="title">总成交金额</span>
           </div>
           <div class="inRight">
             <span class="rightCont">
               <span class="moneyCon">2078.78</span>亿元
             </span>
             <span class="rightConb">已完成</span>
           </div>
         </li>
         <li>
           <div class="inLeft">
             <img src="../../img/singular.png">
             <span class="title">总成交单数</span>
           </div>
           <div class="inRight">
             <span class="rightCont">
               <span class="singular">2134546</span>单
             </span>
             <span class="rightConb">已成交</span>
           </div>
         </li>
         <li>
           <div class="inLeft">
             <img src="../../img/bidding.png">
             <span class="title">招标采购</span>
           </div>
           <div class="inRight">
             <span class="rightCont">
               已完成<span class="bidding rightCond">12,345</span>元
             </span>
             <span class="rightConb">
               已成交<span class="rightConc">2345</span>单
             </span>
           </div>
         </li>
         <li>
           <div class="inLeft">
             <img src="../../img/inquiry.png">
             <span class="title">询价采购</span>
           </div>
           <div class="inRight">
              <span class="rightCont">
               已完成<span class="inquiry rightCond">12,345</span>元
             </span>
             <span class="rightConb">
               已成交<span class="rightConc">2345</span>单
             </span>
           </div>
         </li>
         <li>
           <div class="inLeft">
             <img src="../../img/purchasing.png">
             <span class="title">竞价采购</span>
           </div>
           <div class="inRight">
             <span class="rightCont">
               已完成<span class="purchasing rightCond">12,345</span>元
             </span>
             <span class="rightConb">
               已成交<span class="rightConc">2345</span>单
             </span>
           </div>
         </li>
       </ul>
     </div>
   </div>
    <!--introduce-box end-->
    <div class="content">
      <!--notice start-->
      <div class="notice">
        <div class="noticeTop">
          <div class="topTitle">
            招标公告
          </div>
          <div class="topCon">
            <span class="noticeShow">正在火热招标进行中：</span>
            <span class="noticeNum">12</span>
            <a href="javascript:;" class="getMore">更多<img src="../../img/getMore.png"></a>
          </div>
        </div>
        <div class="noticeContent">
          <div class="contentTop">
            <div class="purchasingInformation">采购信息</div>
            <div class="publishingCompany">发布公司</div>
            <div class="distributionRegion">分布区域</div>
            <div class="operation">操作</div>
          </div>
          <div class="contentCon">
            <ul>
              <li class="contentConLi liBackColor">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt colorFff"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/01.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="pconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dbrShow">
                  西南区
                </div>
                <div class="viewDetails">
                  <a href="javascript:;">查看详情</a>
                </div>
              </li>
              <li class="contentConLi">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/01.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="pconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dbrShow">
                  西南区
                </div>
                <div class="viewDetails">
                  <a href="javascript:;">查看详情</a>
                </div>
              </li>
              <li class="contentConLi liBackColor">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/01.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="pconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dbrShow">
                  西南区
                </div>
                <div class="viewDetails">
                  <a href="javascript:;">查看详情</a>
                </div>
              </li>
              <li class="contentConLi">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/01.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="pconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dbrShow">
                  西南区
                </div>
                <div class="viewDetails">
                  <a href="javascript:;">查看详情</a>
                </div>
              </li>
              <li class="contentConLi liBackColor">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/01.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="pconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dbrShow">
                  西南区
                </div>
                <div class="viewDetails">
                  <a href="javascript:;">查看详情</a>
                </div>
              </li>
              <li class="contentConLi">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/01.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="pconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dbrShow">
                  西南区
                </div>
                <div class="viewDetails">
                  <a href="javascript:;">查看详情</a>
                </div>
              </li>
              <li class="contentConLi liBackColor">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/01.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="pconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dbrShow">
                  西南区
                </div>
                <div class="viewDetails">
                  <a href="javascript:;">查看详情</a>
                </div>
              </li>
              <li class="contentConLi">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/01.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="pconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dbrShow">
                  西南区
                </div>
                <div class="viewDetails">
                  <a href="javascript:;">查看详情</a>
                </div>
              </li>
              <li class="contentConLi liBackColor">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/01.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="pconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dbrShow">
                  西南区
                </div>
                <div class="viewDetails">
                  <a href="javascript:;">查看详情</a>
                </div>
              </li>
              <li class="contentConLi">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/01.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="pconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dbrShow">
                  西南区
                </div>
                <div class="viewDetails">
                  <a href="javascript:;">查看详情</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--notice end-->
      <!--bidPublicity start-->
      <div class="bidPublicity">
        <div class="bidPublicityTop">
          <div class="topTitle">
            中标公示
          </div>
          <div class="topCon">
            <a href="javascript:;" class="getMore">更多<img src="../../img/getMore.png"></a>
          </div>
        </div>
        <div class="bidPublicityContent">
          <ul>
            <li>
              <i class="bidPublicityIcon"></i>
              <a class="bidPublicityTitle" href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
            </li>
            <li>
              <i class="bidPublicityIcon"></i>
              <a class="bidPublicityTitle" href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
            </li>
            <li>
              <i class="bidPublicityIcon"></i>
              <a class="bidPublicityTitle" href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
            </li>
            <li>
              <i class="bidPublicityIcon"></i>
              <a class="bidPublicityTitle" href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
            </li>
            <li>
              <i class="bidPublicityIcon"></i>
              <a class="bidPublicityTitle" href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
            </li>
            <li>
              <i class="bidPublicityIcon"></i>
              <a class="bidPublicityTitle" href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
            </li>
            <li>
              <i class="bidPublicityIcon"></i>
              <a class="bidPublicityTitle" href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
            </li>
            <li>
              <i class="bidPublicityIcon"></i>
              <a class="bidPublicityTitle" href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
            </li>
            <li>
              <i class="bidPublicityIcon"></i>
              <a class="bidPublicityTitle" href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
            </li>
            <li>
              <i class="bidPublicityIcon"></i>
              <a class="bidPublicityTitle" href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
            </li>
          </ul>
        </div>
      </div>
      <!--bidPublicity end-->
      <!--supplierRecruitment start-->
      <div class="supplierRecruitment">
        <div class="srTop">
          <div class="topTitle">
            供应商招募
          </div>
          <div class="topCon">
            <a href="javascript:;" class="getMore">更多<img src="../../img/getMore.png"></a>
          </div>
        </div>
        <div class="srContent">
          <div class="contentTop">
            <div class="purchasingInformation">采购信息</div>
            <div class="srPubliCompany">发布公司</div>
            <div class="closingDate">截止日期</div>
          </div>
          <div class="contentCon">
            <ul>
              <li class="contentConLi liBackColor">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt colorFff"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/support.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="srconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dateShow">
                  2018-06-27
                </div>
              </li>
              <li class="contentConLi">
              <div class="pinShow">
                <div class="date">
                  <span class="dateMoth">06.27</span>
                  <span class="dateYear">2017</span>
                </div>
                <div class="sign">
                  <span class="signt"></span>
                  <i class="signm"></i>
                  <span class="signt"></span>
                </div>
                <div class="icon">
                  <img src="../../img/support.png">
                </div>
                <div class="conTitle">
                  <a href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                </div>
              </div>
              <div class="srconShow">
                中国中铁一局桥梁工程有限公司
              </div>
              <div class="dateShow">
                2018-06-27
              </div>
            </li>
              <li class="contentConLi liBackColor">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/support.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="srconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dateShow">
                  2018-06-27
                </div>
              </li>
              <li class="contentConLi">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/support.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="srconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dateShow">
                  2018-06-27
                </div>
              </li>
              <li class="contentConLi liBackColor">
                <div class="pinShow">
                  <div class="date">
                    <span class="dateMoth">06.27</span>
                    <span class="dateYear">2017</span>
                  </div>
                  <div class="sign">
                    <span class="signt"></span>
                    <i class="signm"></i>
                    <span class="signt"></span>
                  </div>
                  <div class="icon">
                    <img src="../../img/support.png">
                  </div>
                  <div class="conTitle">
                    <a href="javascript:;" title="中铁一局桥梁公司渝黔项目水泥采购招标">中铁一局桥梁公司渝黔项目水泥采购招标</a>
                  </div>
                </div>
                <div class="srconShow">
                  中国中铁一局桥梁工程有限公司
                </div>
                <div class="dateShow">
                  2018-06-27
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--supplierRecruitment end-->
    </div>
    <script type="text/javascript" src="../../js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../../js/index.js"></script>
</body>
</html>