*{
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei',Tahoma,'Simsun','宋体',sans-serif;
}
body,html{
  height: 100%;
}
/*packetList 开标大厅 start */
.plHeader{
  position: relative;
  height: 100px;
  background: url("http://static.crecgec.com/Kaipiao/plHeadBac.png") 0 0 no-repeat;
}
.plHeader .plLogo{
  position: absolute;
  width: 366px;
  height: 80px;
  background: url("http://static.crecgec.com/Kaipiao/logoBackground.png") 0 0 no-repeat;
  left: 0;
  top: 0;
}
.plHeader .plLogo img{
  margin-left: 40px;
  margin-top: 15px;
}
.plHeader .plJump{
  position: absolute;
  width: 50px;
  height: 50px;
  right: 25px;
  top: 25px;
}
.plHeader .plWords{
  padding-left: 366px;
  padding-right: 75px;
  text-align: center;
  color: white;
}
.plHeader .words1{
  font-size: 36px;
  line-height: 70px;
}
.plHeader .words2{
  font-size: 14px;
}
.plHeader .purchaseUnit{
  margin-left: 20px;
}

.packetContainer{
  height: 980px;
  position: relative;
  background-image: url("http://static.crecgec.com/Kaipiao/background.png");
  background-size: cover;
  overflow: hidden;
}
.packetCon{
  width: 1720px;
  height: 980px;
  margin: 0 auto;
}
.packetTitle{
  width: 1720px;
  margin: 0 auto;
}
.titlePackge{
  width: 52px;
  height: 34px;
  margin: 10px 0;
  background: url("http://static.crecgec.com/Kaipiao/titleBac.png") 0 0 no-repeat;
  overflow: hidden;
}
.packetTitle p{
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: 10px;
}
.packetList{
  position: absolute;
  padding-left: 5px;
  width: 1713px;
  height: 878px;
  margin: 0 auto;
  border: 1px solid #77afea;
  overflow: hidden;
  -moz-transition: width 10s; /* Firefox 4 */
  -webkit-transition: width 10s; /* Safari 和 Chrome */
  -o-transition: width 10s;
  box-shadow: 0 0 4px #77afea;
  transition: width .5s ease-in-out;
}
.packetList .list1{
  transition: all .3s ease-in-out;
}
.packetList .listTpLeft,.packetList .listTpRight{
  transition: all .3s ease-in-out;
}
.fullpage .list1{
  position: relative;
  list-style: none;
  float: left;
  margin: 30px 0 0 30px;
  background-color: #fafafa;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}
/*
.fullpage .list1:nth-of-type(9n+1){
	margin-left:0px;
}
*/
.fullpage .list1,.fullpage .list1 img{
  width: 158px;
  height: 112px;
}
.fullpage .listTitlePacket{
  height: 63px;
  line-height: 63px;
  text-align: center;
  border-bottom: 1px solid;
}
.fullpage .listTpLeft,.listTpRight{
  width: 78px;
  margin-top: 10px;
  line-height: 30px;
}
.fullpage .listTpLeft{
  float: left;
  text-align: center;
}
.fullpage .listTpRight{
  float: right;
  text-align: center;
}
.fullpage .listTpCenter{
  float: left;
  width: 1px;
  height: 20px;
  margin-top: 15px;
}

.listButtonRight{
  position: absolute;
  right: 45px;
  top: 416px;
}
.listButtonGoLeftA, .listButtonGoRightA{
  width: 45px;
  height: 45px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.listButtonGoLeftA{
  background-image: url("http://static.crecgec.com/Kaipiao/goLeft.png");
}
.listButtonGoLeftA:hover{
  background-image: url("http://static.crecgec.com/Kaipiao/goLeftClick.png");
}
.listButtonGoRightA{
  background-image: url("http://static.crecgec.com/Kaipiao/goRight.png");
}
.listButtonGoRightA:hover{
  background-image: url("http://static.crecgec.com/Kaipiao/goRightClick.png");
}

.packetFooter{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 1720px;
  font-size: 14px;
  color: #4ea0ea;
  padding: 20px 0 10px 0;
}

/*没有数据 start*/
.fullpage .ptNoData{
  color: #222222;
  background-color: #fff;
}
.fullpage .ptNoData > .listTpLeft{
  color: #777777;
}
.fullpage .ptNoData > .listTitlePacket{
  border-color: #bbbbbb;
}
.fullpage .ptNoData > .listTpCenter{
  background-color: #bbbbbb;
}
.fullpage .ptNoData:hover{
  opacity: 0.9;
  filter:Alpha(opacity=90)
}
/*没有数据 end*/

/*有数据单没有满 start*/
.fullpage .ptNoFull{
  color: #fff;
  background-color: #4ea0ea;
}
.fullpage .ptNoFull:hover{
  background-color: #0062b2;
}
.fullpage .ptNoFull > .listTpLeft{
  color: #fff;
}
.fullpage .ptNoFull > .listTitlePacket{
  border-color: #fff;
}
.fullpage .ptNoFull > .listTpCenter{
  background-color: #fff;
}
/*有数据单没有满 end*/

/*已经满 start*/
.fullpage .ptHasFull{
  color: #fff;
  background-color: #f44848;
}
.fullpage .ptHasFull:hover{
  background-color: #f01f1f;
}
.fullpage .ptHasFull > .listTpLeft{
  color: #fff;
}
.fullpage .ptHasFull > .listTitlePacket{
  border-color: #fff;
}
.fullpage .ptHasFull > .listTpCenter{
  background-color: #fff;
}
/*已经满 end*/

/*已唱标 start*/
.fullpage .ptHasBid{
  color: #fff;
  background-color: #f44848;
}
.fullpage .ptHasBid > .listTpLeft{
  color: #fff;
}
.fullpage .ptHasBid > .listTitlePacket{
  border-color: #fff;
}
.fullpage .ptHasBid > .listTpCenter{
  background-color: #fff;
}
.fullpage .ptHasBidShow{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: #bbbbbb;
  text-align: center;
  line-height: 140px;
  font-size: 18px;
  background: rgba(0,0,0,0.8);
}
/*已唱标 end*/

/*包内容展示 start*/
.ptShowDetail{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.detailShow{
  width: 620px;
  height: 680px;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  margin-top: -340px;
  position: absolute;
}
.dsTitle{
  width: 620px;
  height: 50px;
  float: left;
  background-color: #4ea0ea;
}
.dsTitle p{
  float: left;
  font-size: 18px;
  line-height: 50px;
  margin-left: 10px;
  color: #fff;
}
.dsTitle a{
  display: block;
  float: right;
  margin: 17px 10px;
  cursor: pointer;
}
.dsContent{
  width: 620px;
  height: 550px;
  float: left;
  background-color: white;
}
.dsCon{
  width: 560px;
  height: 447px;
  margin-top: 30px;
  margin-left: 30px;
  overflow: auto;
  overflow-x: hidden;
}
.dsCon table.dsTable{
  width: 560px;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.dsCon thead.dsThead{
  width: 560px;
  font-size: 16px;
  text-align: center;
  background-color: #0870a8;
}
.dsCon thead.dsThead > tr, .dsCon thead.dsThead > tr > td {
  border: 1px solid #4ea0ea;
  color: #fff;
  height: 45px;
}
.dsCon tbody.dsTbody{
  width: 560px;
  height:350px;
  font-size: 14px;
  text-align: center;
  overflow-y:auto;
}
.dsCon tbody.dsTbody > tr,.dsCon tbody.dsTbody > tr > td {
  border-width: 1px;
  border-color: #4ea0ea;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-top: none;
  color: #4ea0ea;
}
.dsCon tbody.dsTbody > tr:last-child{
  border-bottom-style: solid;
}
.dsCon tbody.dsTbody > tr >  td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 5px;
}
.dsButton{
  margin-top: 20px;
  height: 30px;
  text-align:center;
}
.dsSave,.dsCancel{
  display: inline-block;
  border-radius: 4px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}
.dsSave{
   background-color: #0870a8;
   color: #fff;
}
.dsSave:hover{
   background-color: #0062b2;
}
.dsCancel{
  background-color: #f44848;
  color: #fff;
  margin-left: 20px;
}
.dsCancel:hover{
  background-color: #f01f1f;
}
/*包内容展示 end*/

/*公共类 start*/
.displayBlock{
  display: block;
}
.displayNone{
  display: none;
}
.noDecrypt{
  background-color: rgb(243,243,243);
}
.noDecrypt td{
  color: #222;
  border-bottom-color: #929292;
}
.noDecrypt td:first-child{
  border-right-color: #929292;
}
.noDecrypt td:nth-child(2){
  border-left-color: #929292;
}
/*公共类 end*/
/*packetList 开标大厅 end */

/*采购项目汇总表 start*/
.purchaseHeader{
  position: relative;
  height: 100px;
  background: url("http://static.crecgec.com/Kaipiao/plHeadBac.png") 0 0 no-repeat;
}
.purchaseHeader .purchaseLogo{
  position: absolute;
  width: 366px;
  height: 80px;
  background: url("http://static.crecgec.com/Kaipiao/logoBackground.png") 0 0 no-repeat;
  left: 0;
  top: 0;
}
.purchaseHeader .purchaseWords{
  padding-left: 366px;
  padding-right: 75px;
  text-align: center;
  color: white;
  line-height: 100px;
  font-size: 48px;
}
.purchaseHeader .purchaseJump{
  position: absolute;
  width: 50px;
  height: 50px;
  right: 25px;
  top: 25px;
}
.purchaseContainter{
	/*
  width: 1920px;
  */
  height: 980px;
  position: relative;
  background-image: url("http://static.crecgec.com/Kaipiao/background.png");
  background-size: cover;
  overflow: hidden;
}
.purchaseContent{
  width: 1720px;
  margin: 50px auto 0;
  overflow: hidden;
}
.purchaseTitle{
  height: 58px;
  line-height: 58px;
  border: 1px solid #77afea;
  background-color: #0870a8;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.purchaseTable{
  height:800px;
  overflow: auto;
  overflow-x: hidden;
}
.purchaseTable table.purchaseTab{
  width: 1720px;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.purchaseTable thead.purchaseThead{
  font-size: 18px;
  text-align: center;
  background-color: #052066;
  display:block;
}
.purchaseTable thead.purchaseThead > tr, .purchaseTable thead.purchaseThead > tr > td {
  border: 1px solid #4ea0ea;
  color: #fff;
  height: 50px;
}
.purchaseTable tbody.purchaseTbody{
  width: 1720px;
  font-size: 14px;
  text-align: center;
  display:block;
}
.purchaseTable tbody.purchaseTbody > tr,.purchaseTable tbody.purchaseTbody > tr > td {
  border-width: 1px;
  border-color: #4ea0ea;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-top: none;
  color: #4ea0ea;
}
.purchaseTable tbody.purchaseTbody > tr:last-child{
  border-bottom-style: solid;
}
.purchaseTable tbody.purchaseTbody > tr:hover{
  background-color: rgba(21, 74, 162, 0.8);
}
.purchaseTable tbody.purchaseTbody > tr:hover > td{
  color: #fff;
}
.purchaseTable thead.purchaseThead > tr > td, .purchaseTable tbody.purchaseTbody > tr > td{
  padding: 0px 30px;
  box-sizing: content-box;
}
.purchaseTable tbody.purchaseTbody > tr > td {
  font-size: 14px;
  padding-top:15px;
  padding-bottom:15px;
  overflow: hidden;
}
.purchaseTable thead td:nth-of-type(1), .purchaseTable tbody.purchaseTbody > tr > td:nth-of-type(1){
  width:430px;
}
.purchaseTable thead.purchaseThead > tr > td:nth-of-type(2), .purchaseTable tbody.purchaseTbody > tr > td:nth-of-type(2){
	width:160px;
}
.purchaseTable thead.purchaseThead > tr > td:nth-of-type(3), .purchaseTable tbody.purchaseTbody > tr > td:nth-of-type(3){
	width:265px;
}
.purchaseTable thead.purchaseThead > tr > td:nth-of-type(4), .purchaseTable tbody.purchaseTbody > tr > td:nth-of-type(4){
	width:150px;
}
.purchaseTable thead.purchaseThead > tr > td:nth-of-type(5), .purchaseTable tbody.purchaseTbody > tr > td:nth-of-type(5){
	width:96px;
}
.purchaseTable thead.purchaseThead > tr > td:nth-of-type(6), .purchaseTable tbody.purchaseTbody > tr > td:nth-of-type(6){
	width:96px;
}
.purchaseTable thead.purchaseThead > tr > td:nth-of-type(7), .purchaseTable tbody.purchaseTbody > tr > td:nth-of-type(7){
	width:95px;
}
.noBidOpening{
  color: #f44848;
}
/*采购项目汇总表 end*/

/*bidContainer 开标大厅--唱标 start*/

.bidContainer{
  height: 980px;
  background-image: url("http://static.crecgec.com/Kaipiao/background.png");
  background-size: cover;
  overflow: hidden;
}
.bidCon{
  position: relative;
  width: 1720px;
  height: 980px;
  margin: 0 auto;
}
.bidTitle{
  width: 1720px;
  height: 32px;
  margin: 10px 0;
}
.bidTitle img,.bidTitle p{
  display: block;
  float: left;
}
.bidTitle p{
  margin-left: 10px;
  line-height: 32px;
  font-size: 14px;
  color: #0870a8;
}
.bidContent{
  position: absolute;
}

/*packetList start*/
.bidPacketList{
  width: 318px;
  float: left;
  border: 1px solid #77afea;
  box-shadow: 0 0 4px #77afea;
}
.bidPacketListTitle{
  width: 320px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #77afea;
  background-color: #0870a8;
}
.bidList{
  width: 320px;
  height: 810px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.winpage .list1{
  position: relative;
  list-style: none;
  float: left;
  margin: 10px 0 0 10px;
  background-color: #fafafa;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}
.winpage .list1, .list1 img{
  width: 136px;
  height: 105px;
}
.winpage .listTitlePacket{
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid;
}
.winpage .listTpLeft,.winpage .listTpRight{
  width: 67px;
  margin-top: 10px;
  line-height: 30px;
  text-align:center;
}
.winpage .listTpLeft{
  float: left;
}
.winpage .listTpRight{
  float: right;
}
.winpage .listTpCenter{
  float: left;
  width: 1px;
  height: 30px;
  margin-top: 10px;
}
/*没有数据 start*/
.winpage .ptNoData{
  color: #222222;
  background-color: #fff;
}
.winpage .ptNoData > .listTpLeft{
  color: #777777;
}
.winpage .ptNoData > .listTitlePacket{
  border-color: #bbbbbb;
}
.winpage .ptNoData > .listTpCenter{
  background-color: #bbbbbb;
}
/*没有数据 end*/

/*有数据单没有满 start*/
.winpage .ptNoFull{
  color: #fff;
  background-color: #4ea0ea;
}
.winpage .ptNoFull:hover{
  background-color: #0062b2;
}
.winpage .ptNoFull > .listTpLeft{
  color: #fff;
}
.winpage .ptNoFull > .listTitlePacket{
  border-color: #fff;
}
.winpage .ptNoFull > .listTpCenter{
  background-color: #fff;
}
/*有数据单没有满 end*/

/*已经满 start*/
.winpage .ptHasFull{
  color: #fff;
  background-color: #f44848;
}
.winpage .ptHasFull:hover{
  background-color: #f01f1f;
}
.winpage .ptHasFull > .listTpLeft{
  color: #fff;
}
.winpage .ptHasFull > .listTitlePacket{
  border-color: #fff;
}
.winpage .ptHasFull > .listTpCenter{
  background-color: #fff;
}
/*已经满 end*/

/*已唱标 start*/
.ptHasBid{
  color: #fff;
  background-color: #f44848;
}
.ptHasBid > .listTpLeft{
  color: #fff;
}
.ptHasBid > .listTitlePacket{
  border-color: #fff;
}
.ptHasBid > .listTpCenter{
  background-color: #fff;
}
.ptHasBidShow{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: #bbbbbb;
  text-align: center;
  line-height: 105px;
  font-size: 18px;
  background: rgba(0,0,0,0.8);
}
/*已唱标 end*/
/*packetList end*/

/*bidOpening start*/
.bidOpening{
  width: 1378px;
  float: left;
  margin-left: 20px;
  border: 1px solid #4ea0ea;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 0 0 4px #77afea;
}
.bidOpeningTitle{
  width: 1380px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background-color: #0870a8;
}
.bidOpeningContent{
  width: 1380px;
  height: 810px;
  overflow: auto;
  overflow-x: hidden;
}
table.bidTable{
  width: 1380px;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
thead.bidThead{
  width: 1380px;
  font-size: 18px;
  text-align: center;
  background-color: #052066;
}
thead.bidThead > tr, thead.bidThead >tr > td {
  border: 1px solid #4ea0ea;
  color: #fff;
  height: 50px;
}
tbody.bidTbody{
  width: 1380px;
  font-size: 14px;
  text-align: center;
}
tbody.bidTbody > tr,tbody.bidTbody > tr > td {
  border-width: 1px;
  border-color: #4ea0ea;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-top: none;
  color: #4ea0ea;
}
tbody.bidTbody > tr:last-child{
  border-bottom-style: solid;
}
tbody.bidTbody > tr:hover{
  background-color: rgba(21, 74, 162, 0.8);
}
tbody.bidTbody > tr > td {
  font-size: 14px;
  overflow: hidden;
  padding: 15px 30px;
}
/*bidOpening end*/
.bidFooter{
  position: absolute;
  left: 100px;
  bottom: 0;
  text-align: center;
  width: 1720px;
  font-size: 14px;
  color: #4ea0ea;
  padding: 20px 0 10px 0;
}
/*bidContainer 开标大厅--唱标 start*/



*{
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei',Tahoma,'Simsun','宋体',sans-serif;
}
body,html{
  height: 100%;
}
.countDownContainer{
  width: 1920px;
  height: 980px;
  position: relative;
  background-image: url("http://static.crecgec.com/Kaipiao/background.png");
  background-size: cover;
  overflow: hidden;
}
.countDown{
  width: 1070px;
  height: 170px;
  margin: 100px auto;
}
.cds{
  width: 150px;
  height: 170px;
  line-height: 170px;
  text-align: center;
  font-size: 80px;
  color: #fff;
  background: url('http://static.crecgec.com/Kaipiao/countDown.png') 0 0 no-repeat;
  float: left;
  margin-left: 15px;
}
.cds:first-child{
  margin-left: 0px;
}
.cdm{
  width: 10px;
  height: 50px;
  float: left;
  background: url('http://static.crecgec.com/Kaipiao/countDown1.png') 0 0 no-repeat;
  margin-top: 60px;
  margin-left: 15px;
}